[2015-11-27 23:22] sonerdemiray opened #2 "Segmentation Fault at Permutohedral.cpp"
First of all, thank you for the wrapper :)

I'm getting a segmentation fault error when I call the inference method.

I did a traceback with gdb; It is the Permutohedral's code causing the error.

Program received signal SIGSEGV, Segmentation fault.
Permutohedral::sseCompute (this=<optimized out>, out=0x76e5750, in=0x76e5750, value_size=263169, reverse=false) at densecrf/src/permutohedral.cpp:551

[2015-11-27 23:34] swehrwein commented on #2
Just a shot in the dark, but I had a similar segfault. If you're calling the general Make sure you're giving the data term as a numpy array of shape (n_labels, n_points), and if you're using addPairwiseEnergy, the features should have shape (feature_dimensions, n_points). When I passed the same data in but transposed, I got a segfault that looked similar to yours. I think the README example has be

[2015-11-28 08:43] sonerdemiray commented on #2
Hi Scott,

Thank you for your reply.

Apparently I noticed that I did two mistakes in the code.

1) Looking to the sample usage, I thought that the Unary array must be flattened as (n_points, n_labels) although it has to be flattened as (n_labels, n_points) as you mentioned.

2) I was transposing the data term, but I noticed that I'm doing it in wrong channel order. I fixed it.

Thank you again fo

[2015-11-28 08:43] #2 closed

[2015-11-28 13:21] lucasb-eyer commented on #2
@swehrwein thanks for the help!

I need to improve the README. @sonerdemiray Did you use the generic (non-2D) case? Do you have a suggestion on improving the README?

[2015-11-30 09:51] sonerdemiray commented on #2
Hi Lucas,

I didn't try the generic case yet but that would be great if you add the information Scott's supplied about flattening order of Unary array as (n_labels, n_points).

And I think the line
"U = U.reshape((-1,3)) # Needs to be flat."
should be changed as
"U = U.reshape((3,-1)) # Needs to be flat."
in the documentation's sample usage to be consistent with the working case.

The rest of the

[2015-12-01 11:58] lucasb-eyer commented on #2
Thanks again, I fixed the readme.

Using `MatrixCompatibility` is as easy as passing a 2D numpy array for the `compat` argument of `addPairwiseGaussian`. That's in theory; in practice I haven't tested it simply because I don't really know about that feature. If you encounter any problem trying it, feel free to open a new issue and I'll see how I can help. If you end up with a simple, self-containe

[2016-01-06 12:33] kevin-keraudren opened #3 "Add examples similar to the ones in the original C++ code"
For instance:
https://gist.github.com/kevin-keraudren/a8accc61bd5ee0ebb420

Which gives with `anno1.ppm` and `im1.ppm` from the C++ example folder:
![image](https://cloud.githubusercontent.com/assets/802153/12142634/8665c71c-b471-11e5-9f22-7c042c860adf.png)

![image](https://cloud.githubusercontent.com/assets/802153/12142642/9359298c-b471-11e5-887a-f85e10c27557.png)

![image](https://cloud.githubu

[2016-01-06 16:18] lucasb-eyer commented on #3
Nice, thank you!

Would you mind either opening a PR which adds this file, or explicitly allowing me to add your file to the repo under MIT license?

[2016-01-10 21:49] kevin-keraudren commented on #3
Hi, I noticed at the end of the week that the example was not quite right, hence I made another pull request to fix it: https://github.com/lucasb-eyer/pydensecrf/pull/5

With this fix and the default settings, the output for the image above becomes:

![image](https://cloud.githubusercontent.com/assets/802153/12224243/ad6a416a-b7e3-11e5-9392-07947a6c64fa.png)

Explanations and a better highlight of

[2016-02-09 13:14] lucasb-eyer commented on #3
Fixed by #4

[2016-02-09 13:14] #3 closed

[2016-02-10 16:09] atemysemicolon opened #7 "Training"
If I were to introduce a pure pythonic way of training with some kind of grid-search, instead of interfacing with the C code, do you think it would make sense?

To get : sx, sy, sr, sg, sb for the gaussian and bilateral functions

I'd put in a bunch of parameters, and see for which the error over my dataset is the least, and use those at test time. Does it make sense, or do I have to do more?

[2016-02-11 02:19] lucasb-eyer commented on #7
I think that would be an OK thing to do in general, but I don't think this has a place in the wrapper: it belongs in your code. So I'm closing this.

If you need the wrapper to expose some additional functionality from the C library for this, feel free to re-open the issue and explain in more detail.

[2016-02-11 02:19] #7 closed

[2016-02-24 21:40] KlaymenGC opened #8 "Set Weights for the Pairwise Potential Kernel"
Hello,

Thanks for this awesome wrapper! I'm quite new here, is there a way to set the weights for the pairwise potential kernel as mentioned in the paper?

[2016-02-24 21:50] lucasb-eyer opened #9 "Turn into "proper" package for utils."
See comments in #6, we'd like to make them easily available.

This issue serves as a reminder to myself, and as an indicator to others that this is indeed intended to happen.

[2016-02-24 21:52] lucasb-eyer commented on #8
I'm not sure as I've never (knowingly) done this myself. Could you tell me how you'd do this in the original C++ code? It should be similar here.

[2016-02-24 22:06] KlaymenGC commented on #8
@lucasb-eyer sorry I haven't looked into the C++ code yet... have just read the paper. There does have a Matlab wrapper which can set weights for the kernels: https://github.com/johannesu/meanfield-matlab/blob/master/Densecrf.m

[2016-02-24 22:15] lucasb-eyer commented on #8
Thanks for the link. We can see that the weight ends up [as `PottsCompatibility` instance](https://github.com/johannesu/meanfield-matlab/blob/master/include/densecrf_mex.cpp#L109) in the C++ code. We do wrap this, you can see the code [creating the object](https://github.com/lucasb-eyer/pydensecrf/blob/da2c122/densecrf.pyx#L13) and as you may note, you can pass it either a number for `PottsCompati

[2016-02-24 22:20] KlaymenGC commented on #8
@lucasb-eyer yep, I just noticed that in their code as well :)
Thanks for your help!

[2016-02-24 22:20] #8 closed

[2016-03-07 17:00] rodrigob commented on #9
For info, I already implemented this in a private branch.

[2016-03-07 17:48] lucasb-eyer commented on #9
I guess since you're notifying me, that private branch will eventually morph into a public PR?

PS: Hey there, I remember you =)

[2016-03-08 19:17] rodrigob commented on #9
Created PR #10.

[2016-03-08 20:47] lucasb-eyer commented on #9
Fixed over there.

[2016-03-08 20:47] #9 closed

[2016-04-08 07:32] pkorus opened #11 "Package import problem"
I've successfully installed the library using:

[code]

Now I've got 4 files in `/usr/lib64/python2.7/site-packages/pydensecrf`:
[code]

However, I cannot import the library in Python. Both:

[code]

are unsuccessful (`/usr/lib64/python2.7/site-packages/` is in `sys.path`). If I explicitly append `/usr/lib64/python2.7/site-packages/pydensecrf` to `sys.path`, then Python can locate the densecrf lib

[2016-04-08 13:19] lucasb-eyer commented on #11
At first sight it seems like we're not installing the `__init__.py` file, which is a bug. I'll try to fix it over the weekend, but if anyone (@rodrigob maybe?) has an idea before that, I'd be grateful.

[2016-04-10 18:17] rshanor commented on #11
I am currently having the same issue, after adding pydensecrf to the syspath I get a pydensecrf.eigen error as well.

[2016-04-14 13:25] rshanor commented on #11
@pkorus did you ever find a workaround?

[2016-04-14 15:02] pkorus commented on #11
In fact your first suggestion (adding `__init__.py`) did the trick for me.

[2016-04-14 15:03] rshanor commented on #11
Just move that file into the folder? Thanks!

[2016-04-14 15:11] pkorus commented on #11
Just to be clear - after installing the package through pip:
[code]
And then you can import the package as `import pydensecrf.densecrf`

[2016-04-14 15:24] pkorus commented on #11
Just to be clear - after installing the package through pip:
[code]
And then you can import the package as `import pydensecrf.densecrf`

[2016-04-14 15:50] lucasb-eyer commented on #11
Yeah exactly. The problem is that `setup.py` doesn't put it there, and I didn't get around to fixing that yet. PRs are welcome, otherwise I'll give it a go sometime in the next couple weeks.

[2016-04-14 20:06] rshanor commented on #11
Awesome! Works for me too. Thanks guys.

[2016-04-21 07:38] JohanCao commented on #11
Hi Guys,

After I successfully installed pydensecrf on Ubuntu 14.04, I could not find file "__init__.py". The folder /usr/lib/python2.7/site-packages/ is empty. Could someone help me? Many thanks!

[2016-04-23 18:32] #11 closed

[2016-04-23 18:33] lucasb-eyer commented on #11
I think I fixed it, but it would be nice to have confirmation from someone. You can do `pip uninstall pydensecrf` and then install it again with pip as stated in the README.

[2016-05-01 13:50] sqy12 opened #13 "Issue with inference method"
Just like what I've described before. Here attached the example code and the images. You can put them in the same folder and have a try. I'm using 3D images. The test image is the labeled image after training a random forest regressor and testing the origin image. What I want to do is to perform a post process of the labeled image to reduce the noise and increase the classification rate and dice m

[2016-05-02 20:49] lucasb-eyer commented on #13
For the record, this is about [this comment](https://github.com/lucasb-eyer/pydensecrf/pull/12#issuecomment-216037026) in #12, that the `inference` method crashes.

I'll have a look soon.

[2016-05-08 18:27] sqy12 commented on #13
Hello, it has been a while.
Do you have any images that I can use to run the inference example in your repository?

[2016-05-09 01:04] lucasb-eyer commented on #13
No, I didn't get to it yet, sorry! Life is currently a little hectic for me, but I didn't forget about it.

[2016-05-09 14:56] sqy12 commented on #13
Nah, I mean I want to have a try of you inference_example.py file. Could you please provide me some sample 2D images(image and annotation) as my images are all 3D images and not working?

[2016-05-10 19:05] swehrwein opened #14 "buf2matf makes a copy of the feature map"
In the experiments I'm currently running, the setup (call to addPairwiseEnergy) takes nearly as long as the inference itself. If the feature map is built transposed relative to the C++ code's convention, then we could simply wrap the raw data in an Eigen::MatrixXf and no copying would be necessary.

I'm planning to change this in my fork, and would be happy to create a PR, but it will break backwa

[2016-05-10 23:38] fengjunlv commented on #13
second this.  Sample images (rgb and label) would be greatly helpful. I tried some images and the result is always all-zero.

[2016-05-10 23:45] sqy12 commented on #13
You can probably find some sample images and annotation images from here. http://graphics.stanford.edu/projects/densecrf/textonboost/

But I'm now facing some new issues on running the example file.

[2016-05-10 23:48] sqy12 commented on #13
The images are in the code size folder.

[2016-05-11 03:44] lucasb-eyer commented on #14
I will be happy to have a look at the PR and potentially merge it. I'm not too concerned about breaking backwards compatibility if it's better for the long-term. We're not at 1.0 yet :smile:

[2016-05-11 17:47] fengjunlv commented on #13
@sqy12   I found them.  Thanks.

[2016-05-11 17:55] sqy12 commented on #13
@fengjunlv  No worries. Do you have any issues on running the example?  I've got an

on line number 24.

[2016-05-11 18:09] swehrwein commented on #14
This turned out to be a false alarm: after further testing it looks like the copy itself isn't the performance bottleneck at all. In the example I'm running, setup takes about 15 seconds, most of which is spent initializing the lattice (splatting the feature vectors into bilateral space). The copy takes about 0.3-0.4 of those 15 seconds.

[2016-05-11 18:09] #14 closed

[2016-05-12 01:14] lucasb-eyer commented on #13
I'll add the original sample images Philip used in the C++ examples to this repo and try them out myself to see if I get the same errors as you.

[2016-05-12 01:15] lucasb-eyer commented on #14
Glad to hear that and thank you for following up with your analysis!

[2016-05-12 03:28] fengjunlv commented on #13
@sqy12  I haven't tried them yet.  I am thinking of simpler initial label such as a  a surrounding rectangle like what densecut has used.   Maybe this algorithm is not suitable for this type of input.

[2016-05-12 05:35] lucasb-eyer commented on #13
I have moved the examples to the `examples/` folder and added Philip's original example images. You can also see the output I get when running the `inference.py` example.

@sqy12 what exactly are you running when you get that `AttributeError`. I still need to try the images you have provided, I hope to get to that tomorrow or otherwise soon.

[2016-05-12 05:36] lucasb-eyer commented on #13
And for the recor, `python utils_example.py im1.png anno1.png` runs just fine, too.

[2016-05-12 11:47] sqy12 commented on #13
@lucasb-eyer Thanks.
I can see that actually works. Just got a little problem of importing matplotlib.
But I still have no idea why inference method doesn't work in my case.

[2016-05-12 13:34] sqy12 commented on #13
From the exit code, I think the problem could be out of memory.

[2016-05-13 13:50] sqy12 commented on #13
Probably not the problem of memory. Does  it matter if  the image is not RGB based but intensity based?

[2016-05-13 20:36] sqy12 commented on #13
It works now. But I'm not sure if you algorithm works for a images labeled within range [0,1,2,4].

[2016-05-14 06:28] lucasb-eyer commented on #13
Few things:

1. "it works now" cool! so what was the problem? Maybe others will have the same.
2. Does this mean we can close this issue?
3. It's not my algorithm, but Philip Krähenbühl's :)
4. The algorithm doesn't really know about your label values, it's up to you to turn them into meaningful energies. It definitely does work well with multiple labels.

[2016-05-14 15:13] sqy12 commented on #13
To be honest, I've no idea what the problem is. I just cropped  the image data to a smaller one and had a try. And then it works. I think this issue could be closed.

Actually I think in the algorithm you are required to set the number of classes which I believe is the number of labels. The number of labels should be for in my case [0,1,2,4]. But the highest number in the computed result array is

[2016-05-14 16:05] lucasb-eyer commented on #13
Oh, I see what you mean now, thanks for getting back! That's an assumption the `compute_unary` function makes. You could either write your custom version based on it, but my guess is the simplest thing for you to do would be something like `arr[arr == 4] = 3`.

[2016-05-14 16:05] #13 closed

[2016-05-14 23:47] sqy12 commented on #13
Hello, could you please explain how the M is used in your example? `M = 21 # 21 Classes to match the C++ example`
It seems like you example annotation is ranged from 0 to 94, which I thought would be 95 classes?
And the computed map is ranged from 1 to 2. Is that possible to keep the labels stay the same like from [0,1,2,3] to [0,1,2,3], which parameter that I should change to do this? And it seem

[2016-05-16 00:35] lucasb-eyer commented on #13
Thanks, that was a bad example! And if the C++ example did this, it is a bad example too. I've updated the example in the commit you see linked here so that it computes the actual number of labels/classes present in the image.

For keeping the labels in their original range, please read the documentation of skimage's `relabel_sequential` that we're using in the example; you can use one of the retu

[2016-05-17 14:31] sqy12 opened #15 "Example Issue"
In your example, the labels after relabelling is ranged from 0 - 2 and the M is equal to 3. But the map computed is ranged from 1 - 2 which means there is a class gone?
The result of the computation is quite wield in my case.

[2016-05-17 15:38] sqy12 commented on #15
But it's not a large problem. How I can change the weight of each potential?

[2016-05-19 03:17] #15 closed

[2016-05-19 03:18] lucasb-eyer commented on #15
These are again two different questions, please try to ask only one question per issue and prefer opening multiple issues for multiple questions.

I've clarified the answer to your first question in the first commit (1043a71) and to your second question in the second commit (3846e8a)

[2016-05-23 10:54] pierrebaque opened #16 "Modify Q between inference steps"
Hello,

I am using your code and for some reason, I would need to modify Q between the steps.
It means that I want to modify the initial point of each inference step (not let it be the output of the previous step by default). Is it something that can easily be handled with your implementation?

Let's say, for instance that I want to do something like:

for s in steps:
        d.stepInference(Q, tm

[2016-05-24 03:25] lucasb-eyer commented on #16
Yes, the way you describe is almost correct. As the error is hinting, you need to convert `Q` to a wrapped Eigen `MatrixXf` before passing it to `stepInference`. I have written the `eigen.matrixXf` function for this, you can see an [example usage here in the eigen unit-test](https://github.com/lucasb-eyer/pydensecrf/blob/1463feb/pydensecrf/test_eigen.py#L10).

I'm closing this issue, but feel free

[2016-05-24 03:25] #16 closed

[2016-06-27 14:53] Luka-M opened #17 "How to train CRF on multiple images"
Hello,

I'm testing this CRF implementation and was wondering is there an easy way to train CRF on multiple images. Do you just fill the crf object with new unary and pairwise potentials and repeat training with new objective function?

Luka

[2016-07-19 21:01] lucasb-eyer commented on #17
Hi Luka,

I'm sorry, it looks like I completely missed your issue! I believe that I currently didn't wrap the learning part of the API at all, only the inference, so is it possible that you mean "run inference" as opposed to "train"?

[2016-08-05 05:55] CarrieHui opened #19 "Is it only applied to MSRC-21 dataset?"
Hi lucasb-eyer,

I am working on post-processing the output of CNN using densecrf on PASCAL VOC dataset. It seems your code doesn't works on it. Is it only applied to MSRC-21 dataset? If so, would you be willing to public your training/learning code?

Looking forward your reply. Thank you in advance.

[2016-08-05 07:34] lucasb-eyer commented on #19
Hi, I have no idea what you're talking about for various reasons:

1. What does "doesn't work" mean? Just saying "doesn't work" is not helpful.
2. This code is completely independent of any dataset whatsoever. I don't even know MSRC-21 :)
3. Learning has not been wrapped in this code yet, as I have written in the README file.

I'm closing this issue since there is no real issue. But feel free to o

[2016-08-05 07:34] #19 closed

[2016-08-05 07:35] lucasb-eyer commented on #17
Closing due to inactivity and unclarity about actual issue.

[2016-09-15 23:28] zhengshou opened #23 "confidence score"
Hi,

I am not familiar with denseCRF but I am wondering would it be possible (or make sense) to obtain confidence score for prediction at each pixel from Q ? Thanks.

Best,
Zheng

[2016-09-15 23:53] lucasb-eyer commented on #23
So why don't you read the original paper that I'm also referencing in the README? The paper explains exactly what Q is and should answer your question. Q is an approximative distribution, so you could use it as-is, but it's not clear how well-behaved it will be. I recommend running some tests and seeing how Q behaves in your case.

Closing as it's not an actual issue.

[2016-09-15 23:53] #23 closed

[2016-09-16 00:29] zhengshou commented on #23
Thank you and sorry for confusion. I guess my problem actually is not sure how to read values out of Q which is pydensecrf.eigen.MatrixXf object. But now I find can simply convert it as numpy array.

[2016-09-16 00:30] lucasb-eyer commented on #23
Ah, I didn't read it like that, sorry. Yes, it implements the buffer interface so `np.array(Q)` should just work.

[2016-11-10 15:55] ajdroid opened #24 "Help with wrapping learning"
Hey, I'd like to use the learning part of the code and might as well come up with a wrapper. Any pointers on how/where to start?

[2016-11-10 17:27] lucasb-eyer commented on #24
From the wrapper side, I believe it should be enough to wrap more methods in [`densecrf.pxd`, specifically this one](https://github.com/lucasb-eyer/pydensecrf/blob/master/pydensecrf/densecrf.pxd#L67).

The reason I never did this myself is I don't know how to actually use this for doing learning and how to test it. So you'll probably spend more time on writing an example for this.

I'd greatly app

[2016-12-19 18:33] chen1474147 opened #25 "Questions on CRF model edge"
Hi, thank you very much for code. But I have some questions when I use this code.

My task is to cluster some points, not image. Here some points are connected but some are not. Say, I have 100 points. So I build a crf model by code below(in your demo).

d = dcrf.DenseCRF(100, 5)  # npoints, nlabels

feats = np.array(...)  # Get the pairwise features from somewhere.
print(feats.shape)     # -> (7,

[2016-12-20 11:13] lucasb-eyer commented on #8
Hi @KlaymenGC. It seems we were wrong here and the compatibility stuff is about labe-compatibilities (duh) and not the weights of the kernels, which is what I think you originally asked about.
I have since clarified this in the README in [this commit](https://github.com/lucasb-eyer/pydensecrf/commit/a9d7be19fc1a149915a15f084e9936aec5a52cef).

[2016-12-20 11:17] lucasb-eyer commented on #25
I have never done this, but the whole point (pun intended) of **dense**CRF is to densely connect all points with all.

I have just spent some time going through the code and the paper, and I don't think there's a way to do this. If you re-read sections 3 and 4 of the paper, you'll see that nowhere is there a term where you could specify individual edge weights. Possibly, you could hack around this

[2016-12-21 15:44] lishi0927 commented on #17
Hello, I also have the same question.
I have some training images and test images, So how to train the CRF model and get the parameters, do you have any piece of advice about learning?

[2016-12-21 19:44] lucasb-eyer commented on #17
Funny you ask, I added [a few more pointers about learning](https://github.com/lucasb-eyer/pydensecrf#learning) to the README just yesterday!

I myself don't have the time (and need) to implement learning, but I think it should be straightforward to add for someone motivated enough. Hope these pointers can give you a start, and should you manage to add learning, I'd be happy about a pull-request!

[2016-12-22 05:53] lishi0927 commented on #17
Okay, thank you for your reply.

[2016-12-22 07:37] lishi0927 commented on #17
Ah, and i have another question about learning. I have read the original learning cpp code and find that they use only one image optimize the CRF function and get all learning parameters. So if I want to train N images, I have to get N couples of learning parameters and choose the best learning parameters that get the minimize error to the other images, or do you have any piece of advice to get th

[2016-12-22 10:40] lucasb-eyer commented on #17
Disclaimer: I've not used densecrf with learning.

Since it's learning the parameters by gradient-based optimization (l-bfgs here), my guess is that you could do it similarly to neural networs: compute the gradients on say B random pictures, so you get B gradients. Average them, then do an optimizer step. Then pick B next pictures, compute average gradient, do an optimizer step. This way you shoul

[2016-12-22 12:24] lishi0927 commented on #17
Okay, thanks for your advice and i will have a try.

[2016-12-28 10:08] reynoldscem commented on #17
I think part of the issue with averaging gradients won't come from the fact we're trying to optimise a CRF, but rather that we're using L-BFGS - as it is using line searching & an approximate Hessian to calculate updates. Still, worth a try at least.

[2016-12-29 12:40] lucasb-eyer commented on #17
I've seen people successfully use L-BFGS with neural nets, given they use large batches. So I personally would try to average the gradient over all my images before I run an L-BFGS step.

Averaging gradients over all images is the same as computing the gradient of the total loss if the total loss is the sum over each image's loss. So I feel like it should work this way.

But yeah, the caveat is th

[2017-02-08 21:57] DaveRichmond- opened #26 "Problem with non-RGB input image"
Hi Lucas,

I recently started using your wrapper for Phillip Krahenbuhl's fully connected CRFs.  Very useful -- thanks for making this available!

I'm working through a simple example, to make sure that I understand the usage, and I came across something a bit strange.  If I input an image that doesn't have 3 channels (eg, it could be grayscale, or a feature map with more than 3 channels), I get a

[2017-02-11 13:00] lucasb-eyer commented on #26
Thank you for the gist, this will make investigation easier. I'm looking into it as a number different than 3 channels should definitely work.

[2017-02-11 14:07] lucasb-eyer commented on #26
OK, I figured it out. It's not a bug in the library per se, but the library also doesn't protect you from a mistake and just computes garbage. I added some checks to protect from this mistake in [this commit](https://github.com/lucasb-eyer/pydensecrf/commit/3381ed438f7c7a4ce86998c045d31897bee5fa07) as well as an explanation in the readme, go check it out.

With this change, your example code shoul

[2017-02-11 14:07] #26 closed

[2017-02-11 14:08] lucasb-eyer commented on #25
Closing. If there's more to discuss, feel free to re-open.

[2017-02-11 14:08] #25 closed

[2017-02-13 18:10] DaveRichmond- commented on #26
Hi Lucas,

Thanks for your email.  That makes sense -- I was able to run the code with
'createPairwiseBilateral' and 'addPairwiseEnergy' but it's quite slow to
set up the graph, so I was trying to get 'addPairwiseBilateral' to work.
If I have time, I may also try to speed up createPairwiseBilateral and do a
pull request.

Yes, it would be fine to include my example in your repo.  I will make the
c

[2017-02-13 18:51] DaveRichmond- commented on #26
Hi Lucas,

I just made the PR.  I only committed the notebook because this is all I
have played around with.  If you prefer to have .py format, there is a
simple conversion tool (nbconvert).  I made some comments, but please feel
free to add more.  And of course, let me know if you need anything else.

Thanks,
Dave

On Mon, Feb 13, 2017 at 1:09 PM, David Richmond <daverichmond@gmail.com>
wrote:

[2017-02-13 21:31] lucasb-eyer commented on #26
A PR speeding up `createPairwiseBilateral` would be very welcome when you get around to it; I never used it for much data, so didn't feel its speed (or lack thereof). Since you are using notebooks, [line_profiler](https://github.com/rkern/line_profiler) will come in very handy for finding the bottleneck! `%load_ext line_profiler` to load it and then `%lprun -f function_name function_name(args)` to

[2017-02-23 04:12] JiayunLi opened #28 "Can't import the library"
Hi,

I am trying to install this library with pip install. The library seemed to be successfully installed. My cython is v 0.24.1. But when I tried to import pydensecrf.densecrf, I got .../pydensecrf/densecrf.so: undefined symbol: _ZTINSt8ios_base7failureB5cxx11E error.

I would really appreciate if anyone could help me with this?

[2017-02-23 09:07] lucasb-eyer commented on #28
At first, this seems to be a problem with your system to me. `ios_base::failure` is part of the standard c++ library, and it not finding the symbol hints to a linking problem.
Maybe you have multiple compiler/linker versions or libstdc++ versions installed and are mixing them up somehow? You can use `ldd densecrf.so` to see what exact files are being linked and found at runtime.
I'm afraid there's

[2017-02-23 18:48] JiayunLi commented on #28
Thanks! I am able to solve the problem by installing libgcc in the anaconda virtual environment.

[2017-02-23 18:56] lucasb-eyer commented on #28
Awesome! If you would be so kind to give me the exact command you used to fix this, I could include it in the README and it might help others getting the same error.

[2017-02-23 19:02] JiayunLi commented on #28
Cool! I Google for similar problem, and found this one  <https://github.com/explosion/sense2vec/issues/19> The solution they mentioned solved my problem.
To install libgcc, I used `conda install libgcc`

[2017-02-23 19:08] lucasb-eyer commented on #28
Thank you! I'll close this issue then.

[2017-02-23 19:08] #28 closed

[2017-03-07 13:42] pianoza opened #29 "Getting segmentation fault for 3D crf"
Hi,
I'm trying to run pydensecrf for 3D case, but getting segmentation fault when I call inference. Here's how I'm running it (not sure if this is the correct way):
[code]
..and here is the backtrace:
[code]
Could you please help me to figure out what am I doing wrong?

[2017-03-09 11:26] lucasb-eyer commented on #29
Hi!

I'm currently working on a deadline and will be too busy to look into this for the next couple weeks. Let me give you a few pointers though:

A segfault *usually* comes from wrong use of the API: if you'd use the C++ code in the same way, it'd segfault too. Your image is non-square, so my guess would be some shape in a wrong order somewhere. Another quick guess: is the ndarray C-contiguous?
S

[2017-03-13 12:32] pianoza commented on #29
Hi,
I found my mistake: the shape of the `probs` and the `image.shape`  were not the same, I had one of the axes swapped in the `probs`. I think it would be cool to have an assert in the function, but anyways thanks, your comment was helpful!

[2017-03-13 12:32] #29 closed

[2017-03-13 12:34] lucasb-eyer commented on #29
Thank you for posting an update! I will definitely add an assert as soon as I get some down time!

[2017-03-24 11:10] atanas1054 opened #30 "Difference in colors"
Hello,

I am getting the following result after running inference.py in /examples:
![000057_kitti](https://cloud.githubusercontent.com/assets/9679721/24291796/c3ee416a-108a-11e7-82b2-07cf3a0b6f86.png)
![out2](https://cloud.githubusercontent.com/assets/9679721/24291800/c8676e42-108a-11e7-8de3-7a1fe9dff3bc.png)

There is a missmatch between the colors. Is there a quick way to fix this?

Regards,
Ata

[2017-03-24 19:23] lucasb-eyer commented on #30
That's indeed weird. Are you sure it's just the colors that are off, or is the actual labeling wrong?

My hunch would be with the label-conversion routine. If you take a look at the code and the comments in there, it does assume that there is at least one black pixel, which indicates label "0" or "background" or "ignore". Your picture looks like there might be no black pixel, which might throw off

[2017-03-26 22:37] atanas1054 commented on #30
Thank you very much for your reply. Unfortunately, I tried added black pixels but the result is still the same.

[2017-03-31 15:20] JoeHEZHAO opened #31 "Question about running my own data"
Hi I have a quick question about how to run my own image data **just like the example**.

I have a prediction image from residual neural network, with two classes, 0 for background and 1 for target object. I try to run the the **inference.py** to refine my contour, but things goes ugly. The output value is "1" for all pixel.

I am guessing that my prediction results miss "unclear" or "unknown" val

[2017-04-02 16:23] lucasb-eyer commented on #31
Hi! I think this is the same issue, or at least very related to #30. I'm currently in the middle of moving between two places, so I don't have the time to look at it right now, but in a couple weeks, after my move, I'll have a look!

Note that it's not a problem with the method (developed by Philip Krähenbühl, not me), just with the example code that I made.

If you find something in the meantime,

[2017-04-18 16:02] raymondchua opened #32 "Error when using own image for addPairwiseBilateral"
Hi, I have tried to use my own image for the addPairwiseBilateral(sxy=80, srgb=13,, rgbim=own_image,compat=10) but I keep getting the following error.
I have tried reading my image from OpenCV as well as skimage.
My image dtype and shape returns the following:

[code]
And below is the error. Has anyone faced this before?

[code]

[2017-04-18 16:04] raymondchua commented on #32
Nevermind, I fixed it. Apparently I have to create my DenseCRF2D as

`d = dcrf.DenseCRF2D(480, 315, NUM_CLASS)`

[2017-04-18 16:04] #32 closed

[2017-04-24 15:01] lucasb-eyer commented on #30
Hi, I have finally gotten some time to work on this again.

The above commit 51d31c2 is an attempt to fix what I think causes this error. Could you try again with the latest master (make sure it updates) and let me know if it solves this issue?

If it doesn't, please also give me the original image so that I can reproduce the problem.
Thanks!

[2017-04-24 15:06] lucasb-eyer commented on #31
Reading your question again, I now understand the problem you have. It's related, but not the same as #30. Could you please try to use the values `1` for background and `2` for target, or basically any other value than `0`?

The example code in `inference.py` so far followed Philip's original example and assumed `0` to mean `unknown`, which is not a class and thus not present in the output anymore

[2017-04-24 15:06] #31 closed

[2017-04-25 12:14] ahukui opened #33 "how combine CNN and CRF for Image segmentation?"
how combine CNN and CRF for Image segmentation?
3ks

[2017-04-25 16:02] lucasb-eyer commented on #29
FYI, I added a little more protection from this in the above commit, thanks again for your feedback!

[2017-04-25 16:45] lucasb-eyer commented on #33
Typically this is done by having the CNN create the unaries for the DenseCRF, but other ways have been proposed too. I recommend you read a few papers about it.

Since this is not a question about the library, but about your understanding of CNNs and CRFs, I'm closing this issue. If you have a specific question regarding `pydensecrf`, feel free to re-open this issue.

[2017-04-25 16:45] #33 closed

[2017-04-25 21:10] MehulAjax21 opened #34 "Bad shape for unary energy"
Hi Lukas,

I see the above error while running the densecrf. i will list down the steps here:

d = dcrf.DenseCRF2D(224, 224, 8)
U = unary_from_softmax(unary)  # Unary is output of softmax
d.setUnaryEnergy(U)

Here is get the above error: Bad shape for unary energy (Need (224, 224), got (8, 50176))

I think a similar bug is fixed in a commit (b5e13a9). could you please update the same for the setUn

[2017-04-25 21:19] lucasb-eyer commented on #34
Thanks for the report, looks like the checks I added today aren't the best :smile: It's late here, so I'll see what's up tomorrow!

[2017-04-25 22:09] lucasb-eyer commented on #34
Ok this was an actual bug that I fixed in the above commit, please try it out!

[2017-04-25 22:09] #34 closed

[2017-04-26 09:16] MehulAjax21 commented on #34
Hi Lukas thanks for your reply.
I had to work last night So I also fixed the bug myself. I did the same changes. Also, as I have tested it, the changes are fine.

[2017-04-26 13:45] DaveRichmond- opened #35 "Bad shape for unary energy"
Hi Lucas,

I'm trying to run pydensecrf on a new computer.  I just installed everything and I get a new bug (everything was working fine with previous installation a few months ago).

I think the easiest way to confirm the problem is to run the example: Non RGB Example.  Stepping through this example, in Cell #4 I get the following error:

ValueError: Bad shape for unary energy (Need (400, 512), g

[2017-04-26 13:48] lucasb-eyer commented on #35
Hi Dave,

I don't think the TODO affects you at all here.

When exactly did you install this PyDenseCRF? Your issue looks exactly like #34 which I fixed ~16h ago. Could you please make sure you're running with these latest changes?

Cheers,
Lucas

[2017-04-26 14:14] DaveRichmond- commented on #35
Hi Lucas,

Thanks.  I re-installed and everything is working now.  (I had installed 24hours ago).

Best,
Dave

[2017-04-26 14:14] #35 closed

[2017-05-08 13:53] xiaoshumei opened #36 "how can i install this with visual studio 2013?"
when i pip3 install, i got an error :visual c++ 14.0 is required!

[2017-05-08 15:05] lucasb-eyer commented on #36
I guess that means Cython needs vs2015 :smile: I have no idea if there's a way to make it work with vs2013, so if anyone has a PR for that, I'd merge it, but I won't spend time trying to find that out myself, sorry!

[2017-05-11 10:52] atanas1054 commented on #30
Hey,
It's working now. Thank you very much.

[2017-05-11 10:53] #30 closed

[2017-06-01 17:28] waldol1 opened #37 "Kernel Weights"
I have an idea on how kernel weights might be set in the code.  You have a note on the README asking for explanations.

In the 2011 paper (Eq. 2), the label compatibility matrix appears outside the sum over kernel responses.  However, both the `addPairwiseGaussian()` and `addPairwiseBilateral()` functions in the code accept an arbitrary label compatibility matrix.  By controlling the relative magn

[2017-06-07 17:27] lucasb-eyer commented on #37
Thanks @waldol1!

I don't have the time to actually try it out currently, but your idea sounds very reasonable. I have added a link to this issue from the README so that people who want to investigate this further will see your reasoning.

[2017-06-07 21:14] raymondchua opened #38 "Labels looked weird after densecrf"
Hi,
Before I apply dense crf, my labels were looking fine.
http://imgur.com/fZtEboL
However, after pydensecrf, I have this weird pixels across my image.
http://imgur.com/54vUQfa
Has anyone faced the same issue?

[2017-06-07 23:16] #38 closed

[2017-06-08 12:36] lucasb-eyer commented on #38
You closed the issue, so I assume you fixed it? In that case, could you write down what the problem was so others who might have the same error can know? I'm guessing w/h mixup.

[2017-06-08 16:50] raymondchua commented on #38
Hi Lucas, sure. It was because I have NaN and inf values in my probabilities due to the division by zero. Easy fix is to add 1e-3.

[2017-06-12 11:28] atanas1054 opened #39 "gt_prob question"
Hello,

How is the gt_prob parameter in unary_from_labels() used in the original paper?

[2017-07-06 03:59] zeakey opened #40 "How to specify my customized pairwise term?"
Hi all,
I've designed my own pixel to pixel similarity metric and I want to make it part of the pairwise term. How can I implement this?

Can someone give me some tips?

[2017-07-10 04:26] lucasb-eyer commented on #40
You can add any arbitrary pairwise energy to the DenseCRF through the `void addPairwiseEnergy(const c_MatrixXf &features, LabelCompatibility*, KernelType, NormalizationType)` method, have a look at [`create_pairwise_gaussian(sdims, shape)`](https://github.com/lucasb-eyer/pydensecrf/blob/master/pydensecrf/utils.py#L89) and [`create_pairwise_bilateral(sdims, schan, img, chdim=-1)`](https://github.co

[2017-07-10 04:29] lucasb-eyer commented on #39
Hi and sorry for the very late answer! I am not the author of the original paper, and this wrapper was created much later than the original paper, so I'm not sure how to interpret your question.

[2017-07-10 04:30] lucasb-eyer commented on #38
Thank you for having clarified, it might help others in the future!

[2017-07-16 11:56] Thatfreesky commented on #29
Hi @pianoza ,
I recently also want to use pydensecrf to deal with 3D data. Can you share me your solution? From the commit of lucasb, as below, I still can not know how to use densecrf on 3D data.
Thanks.
[code]

[2017-07-17 07:08] pianoza commented on #29
Hi @Thatfreesky,
The way I used it for a 3D data was exactly the same as in my first comment.

[2017-07-21 13:39] MiguelMonteiro opened #41 "Why is this package not on PyPI?"
Why is this package not on PyPI, is there a particular reason? It would be extremely useful if it was, I know it is unrelated but I am having a lot of trouble getting to work as dependency for my own package  because of it.

[2017-08-07 21:03] Ryan-Lima opened #42 "Import error for densecrf.so: "undefined symbol""
Using python 2.7.13 Anaconda 4.4.0 (64 bit) on Ubuntu 16.04
Installed pydensecrf from git as per instructions: no installation errors. However, when I issue

[code]

I get the following error

[code]

I have tried uninstalling and reinstalling system cython and pip cython (both as user and root), but problem persists. Also tried

[code]

Please advise

Thanks

[2017-08-10 07:59] ZhangLeUestc opened #43 "How to get the energy value"
Is there a smart way to get the energy value in each/final iteration ?

[2017-08-11 03:16] lucasb-eyer commented on #41
Hi. There is no real reason besides that I'm lazy :)

I didn't expect this project to become popular, so didn't bother. Thank you for the reminder, I will look into it "sometime soon".

[2017-08-11 03:23] lucasb-eyer commented on #42
Please read the readme :smile:  This exact problem is described [in the README](https://github.com/lucasb-eyer/pydensecrf#undefined-symbol-when-importing).

Feel free to re-open the issue with more info if that doesn't help.

[2017-08-11 03:23] #42 closed

[2017-08-11 04:55] lucasb-eyer commented on #39
Closing due to no clarification.

[2017-08-11 04:55] #39 closed

[2017-08-11 04:56] lucasb-eyer commented on #40
Closing due to no further question/feedback.

[2017-08-11 04:56] #40 closed

[2017-08-11 05:09] lucasb-eyer commented on #43
To be honest, I don't really know.

You can do a step-by-step iteration as described [here in the README](https://github.com/lucasb-eyer/pydensecrf#step-by-step-inference), there, you could look at the value of `Q` and at the `KL(Q||P(X))`, but I think both of these are not exactly what you want, you want `E(X)`. I'm not sure what [these two functions](https://github.com/lucasb-eyer/pydensecrf/blo

[2017-08-11 05:14] lucasb-eyer commented on #41
Actually, I just did it. There's a [release-candidate on PyPI](https://pypi.python.org/pypi/pydensecrf) now. I did some quick testing, but please give it a try and let me know if it works for you; this is my first package on PyPI.

[2017-08-23 01:56] lucasb-eyer commented on #41
Closing the issue. Please open new issues if the PyPI package doesn't work.

[2017-08-23 01:56] #41 closed

[2017-09-04 05:41] trangnambeo opened #44 "Fail to build library in virtualenv due to redeclaration of round() function"
Hi Luca,
I tried to build/install library inside a virtual environment created by Anaconda3 but it failed, the error is:

pydensecrf/densecrf/src/permutohedral.cpp:31:26: error: ambiguating new declaration of 'int round(double)'
 inline int round(double X) {
                          ^
Looks like there is another round() function inside <cmath> , I commented  the following lines in permutohedral.c

[2017-09-04 09:36] MiguelMonteiro commented on #41
Sorry, have been on vacation, just tested it, it seems to be working fine.

[2017-09-04 18:56] lucasb-eyer commented on #41
Cool, no worries and thanks for the feedback!

[2017-09-04 19:00] lucasb-eyer commented on #44
Hmm, so this is on windows, right? I have not built this on windows in a long long time. Actually, it seems like the `round` function is not used at all in the file, [the only reference to it is commented-out](https://github.com/lucasb-eyer/pydensecrf/blob/d824b89ee3867bca3e90b9f04c448f1b41821524/pydensecrf/densecrf/src/permutohedral.cpp#L377).

If this works for you, could you please make a pull-

[2017-09-21 14:29] qdinfish opened #45 "question about addPairwiseGaussian and addPairwiseBilateral"
Hi,

I didn't understand what are the means of sxy=3 , sxy=80 and srgb=13?

Could you help it ?

Thanks

d.addPairwiseGaussian(sxy=3, compat=3)
d.addPairwiseBilateral(sxy=80, srgb=13, rgbim=im, compat=10)

[2017-09-28 13:50] chowkamlee81 opened #46 "ImportError: No module named densecrf"
Hai,

I installed densecrf module using
python setup.py install

It got installed succesfully.
import pydensecrf---->works
import pydensecrf.densecrf as dcrf----> fails with Import error..

Kindly suggest how to go further

[2017-10-04 14:38] yaxingwang commented on #46
you should put __init__.py   into the  file: densecrf.

[2017-10-10 14:07] adizhol opened #47 "win64 python3.5 support?"
Failed to compile on win 64bit, python 3.5. Python 3.6 seems to compile. Using Anaconda, VC++ 14

_> LINK : error LNK2001: unresolved external symbol PyInit_pydensecrf/densecrf_

[2017-10-12 19:46] lucasb-eyer commented on #46
huh, that's odd, it works just fine for me, and I can't reproduce your problem, no matter what I try. I will need more info in order to help here.

@yaxingwang That file [has existed for a long time](https://github.com/lucasb-eyer/pydensecrf/blob/master/pydensecrf/__init__.py), are you somehow missing it?

[2017-10-12 19:48] lucasb-eyer commented on #47
Hi, it's been a while I haven't coded any Python on Windows anymore, so I don't really know. I don't have the time to set up a machine for this currently, so you or someone else will have to try fixing it and if you do, please open a pull-request.

It looks like it might be related to #46, but I'm not sure.

[2017-10-12 19:49] lucasb-eyer commented on #46
Also, the recommended way of installing is now through pip from the cheeseshop `pip install pydensecrf`.

[2017-10-13 03:16] chowkamlee81 commented on #46
Problem got solved since i copied .so files from /usr/loca/pydense.egg to my local directory. Iam able to retrieve the result. Thanks for your kind reply.

[2017-10-13 03:16] #46 closed

[2017-11-09 13:07] drdlfy opened #49 "ValueError: Buffer dtype mismatch, expected 'unsigned char' but got 'double'"
Hello, when I execute this sentence will be incorrect, please help me to solve it, thank you very much：

d.addPairwiseBilateral(sxy=sxy_bilateral, compat=compat_bilateral,
                               kernel=kernel_bilateral, normalization=normalisation_bilateral,
                               srgb=srgb_bilateral, rgbim=img[0])

ValueError: Buffer dtype mismatch, expected 'unsigned char' but go

[2017-11-09 13:46] drdlfy commented on #49
Thank you, I know where is wrong

[2017-11-09 13:46] #49 closed

[2017-11-09 14:28] lucasb-eyer commented on #49
Hi @drdlfy, as you have found the mistake, could you please tell us what it was? In that way, other people making the same mistake and googling for it in the future will see this issue and can follow your solution. Also, maybe I can catch the mistake in the code and make the error message clearer.

[2017-11-10 00:43] drdlfy commented on #49
Ok,  @lucasb-eyer the code is not wrong, it is my use of the error. Image data format should be an unsigned integer can. Thank you very much.

[2017-11-10 00:49] lucasb-eyer commented on #49
Thank you for the clarification!

[2017-11-12 09:55] nikkou commented on #47
I've successfully compiled this project on Windows 64 bit and Python 3.5.4 without this error.

[2017-12-05 02:05] XhqGlorry11 opened #51 "Unary potential"
@lucasb-eyer Hi lucas, can you tell me how does unary potential calculated in your code? It seems that you just use the "class probabilities per pixel" to calculate unary potential. While the paper use information of the original image, e.g. color, location... Can you give me tips? Thanks!
![image](https://user-images.githubusercontent.com/22702027/33586322-d790860a-d9a3-11e7-865c-8901803ec73e.png

[2017-12-21 05:59] rw1993 opened #52 "ValueError: Buffer dtype mismatch, expected 'float' but got 'double'"
Try below code and get ValueError.

Traceback (most recent call last):
  File "<input>", line 1, in <module>
    d.setUnaryEnergy(U)
  File "pydensecrf/densecrf.pyx", line 80, in pydensecrf.densecrf.DenseCRF.setUn
aryEnergy (pydensecrf/densecrf.cpp:3370)
ValueError: Buffer dtype mismatch, expected 'float' but got 'double'

[2017-12-25 14:04] howardgriffin opened #53 "The example to use the package"
Could someone show me how to use pydensecrf package or the examples about it? Thank you in advance!

[2017-12-25 14:14] howardgriffin commented on #53
And how to run utils_example.py in examples ? What should sys.argv be?

[2017-12-26 02:50] howardgriffin commented on #45
I have the same question .Do you understand now?

[2017-12-29 08:19] liyemei commented on #47
compiled it on Windows 64 bit and Python 2.7 with this error.
@nikkou
writing build\temp.win-amd64-2.7\Release\pydensecrf\eigen.def
C:\Program Files\mingw-w64\x86_64-7.2.0-posix-seh-rt_v5-rev1\mingw64\bin\g++.exe -mdll -static --entry _DllMain@12 --output-lib build\temp.win-amd64-2.7\Release\pydensecrf\libeigen.a --def build\temp.win-amd64-2.7\Release\pydensecrf\eigen.def -s build\temp.win-amd64-2

[2017-12-29 11:54] nikkou commented on #47
@liyemei
Seems like a completely different error from the one OP faced. Try to somehow use cl.exe (Visual Studio compiler) instead of g++.

[2017-12-29 12:54] liyemei commented on #47
Thank you!,but,how to use cl.exe to compile?  I run "python setup.py  install "  in the cmd ,it still use g++

[2017-12-29 15:10] liyemei commented on #47
@adizhol  I've successfully compiled it .Thank you

[2018-01-21 16:45] lixiang-ucas opened #54 "How to get the hyperparameters?"
Thanks for you wonderful work. I have trying inferring using your code, but it works  not good. I'm wondering how to find the best hyperparameters? Have you implemented the learning procedure?

[2018-01-23 12:41] siinem opened #55 "About the compat parameter"
Dear @lucasb-eyer
I am trying to apply dense CRF postprocessing to semantically labeled images (which are computed by deep learning techniques).  Reading the commits in this repository i saw that the **compat** parameter denotes the compatibility function mentioned in the paper which adopts the Potts model [ related commit: https://github.com/lucasb-eyer/pydensecrf/commit/a9d7be19fc1a149915a15f084

[2018-01-25 20:59] dimimal commented on #55
I am interested about that too.

[2018-02-13 12:43] Toz3wm commented on #55
From what I get looking at  labelcompatibility.cpp, I would say that compat=3 will give you 3*identity_matrix as compatibility matrix. This is - if i'm not mistaken - the same as compat = 1 as the compatibility matrix is only a weighting matrix.

 compat=1D-array  would give you the ability to "weight" different classes differently (however I'm not sure about the relevance of such a thing).
compat

[2018-02-13 13:02] Toz3wm commented on #45
From the original paper "Efficient Inference in Fully Connected CRFs with Gaussian Edge Potentials", this formula :
![capture du 2018-02-13 13-50-37](https://user-images.githubusercontent.com/10962198/36150757-01122bf2-10c5-11e8-97d2-2e833c1c9461.png)

I think sxy in addPairWiseGaussian is theta_c, and sxy and srgb are respectively theta_a and theta_b. I might be wrong, however if this is not the

[2018-02-24 16:54] crurui opened #56 "How to use gradient function in densecrf.pyx？"
Hi, I tried to  use the commented out gradient function in densecrf.pxd. Now I can call it in python but it fails and the python stops working. Is there any advice for me to continue or turn to other methods to implement it in a learning?Thank u very much

[2018-03-02 07:29] dingfg commented on #45
sxy(PosXStd and PosYStd)
sxy(Bi_X_Std and Bi_Y_Std), srgb(Bi_R_Std , Bi_G_Std and Bi_B_Std)

[2018-03-08 05:38] Nandayang commented on #52
@rw1993 Hi, i m facing the same problem. Do you solve this ?

[2018-03-08 18:51] lixiang-ucas opened #57 "how to determine the parameters of densecrf?"
how to determine the parameters of densecrf model?

[2018-03-12 20:55] lucasb-eyer commented on #51
Hi @XhqGlorry11 sorry for the late answer. It is your task to come up with a unary potential which makes sense for your application. It is not part of PyDenseCRF to compute one, but rather you compute one and give it to PyDenseCRF. In the past, it was typically RandomForest output, and nowadays, many people use the SoftMax output of a CNN as unary potentials.

Closing the issue as it's not actuall

[2018-03-12 20:55] #51 closed

[2018-03-12 20:56] lucasb-eyer commented on #53
Hi, just follow the instructions in the README. Installation and usage are both described there.

If there is an actual problem following those steps, please open an issue with what you have done, and what error you encounter.

[2018-03-12 20:56] #53 closed

[2018-03-12 21:00] lucasb-eyer commented on #54
I have not implemented the learning procedure, but am happy to accept PRs implementing it, [as mentioned in the README](https://github.com/lucasb-eyer/pydensecrf#learning).

Besides that, finding hyperparameters is an open question in ML, so nothing I can help with in a github issue :smile: Use a validation-set and do search.

[2018-03-12 21:00] #54 closed

[2018-03-12 21:00] lucasb-eyer commented on #57
Closing as duplicate of #54.

[2018-03-12 21:00] #57 closed

[2018-03-12 21:04] lucasb-eyer commented on #55
Late answer, but @Toz3wm is right. No need to look at the code, though, this is [all described in the README](https://github.com/lucasb-eyer/pydensecrf#compatibilities).

I believe passing a 2D-array is most useful here if you actually want to use label-compatibility, though I am not aware of people using it myself. I'm closing this issue as I believe nothing is left unanswered (it's basically all

[2018-03-12 21:05] lucasb-eyer commented on #55
Oh, and if someone has a simple, small example where using a label-compatibility matrix improves result, I'd be happy to include it as an example!

[2018-03-12 21:05] #55 closed

[2018-03-12 21:23] #45 closed

[2018-03-12 21:24] lucasb-eyer commented on #45
@Toz3wm is correct (again :smile:) and @dingfg is correct too. I have added a note to the README.

[2018-03-12 21:26] lucasb-eyer commented on #52
People had this error before (#49) and it's a user error. I think the error is pretty clear: you should pass a float, but you're passing a double. Fix by doing `U = U.astype(np.float32)`. I'll add a note to the FAQ in the README.

[2018-03-12 21:26] #52 closed

[2018-03-12 21:33] lucasb-eyer commented on #56
Hi, I haven't tried this myself, and don't have the time to, so I'm afraid I can't give you guidance. Python stopping to work probably means you have made a mistake in the wrapping somewhere, you need to be careful with types etc. as it's all C code which will simply crash if something is wrong, instead of giving a nice error as we're used to from Python :smile:

If you do succeed, please let me k

[2018-03-28 20:17] ChaitanyaKolluru1 opened #58 "Running a dense CRF on classifier predictions from a neural network"
Hi,

Thank you for sharing this code. I have a deep learning classifier that specifies probability values for three classes at each pixel in an image. I would like to run the dense CRF to clean up my predictions. Here is the code that I'm trying to use.

`
# Define the CRF (width, height, nlabels)
# Predictions is a numpy array from my classifier, for a three class classification problem
d = dcrf.

[2018-03-28 21:02] lucasb-eyer commented on #58
My guess is that you are screwing up the reshaping and/or sizes at least once, maybe multiple times. Just briefly looking at your code, I can already see that you're creating a DenseCRF of shape `predictions.shape[1], predictions.shape[0]` in the constructor, but after mAP reshaping the result to `predictions.shape[0], predictions.shape[1])`, which doesn't make sense. If you look closely at the RE

[2018-03-28 21:17] ChaitanyaKolluru1 commented on #58
Thanks for writing back. I assumed that the constructor takes in width and height as the first and second arguments respectively and that for a numpy array the first size is the number of rows (height) and the second size is the number of cols (width). Maybe I got myself confused there.

I fixed the code so that the order of arguments to the constructor and MAP reshaping are predictions.shape[0],

[2018-03-28 22:19] lucasb-eyer commented on #58
Hmm, if you could share everything I need to reproduce (including the predictions file), I could try to have a look tomorrow, not sure if I'll find the time though.

I'm still pretty sure you're having a mixup of shapes/dimensions/order somewhere. I've seen the same mistake here before, with similar looks.

[2018-03-28 23:35] ChaitanyaKolluru1 commented on #58
Thanks, I've attached my code and the predictions file here. I will also check my code again for any errors.

[CRF example.zip](https://github.com/lucasb-eyer/pydensecrf/files/1858159/CRF.example.zip)

[2018-03-29 12:41] lucasb-eyer commented on #58
Ah, yes, the problem lies in this line:

[code]

Because `predictions` has shape `H,W,3`, you cannot simply reshape it to `3,-1` and expect that to work! You need to move the last axis to the front first, for example like so:

[code]

and then it will work, I just tried it. There is no way I can detect that in PyDenseCRF, but I will add it to the FAQ and make it a bit clearer in the README, but re

[2018-03-29 12:41] #58 closed

[2018-03-29 12:44] lucasb-eyer commented on #58
Oh, and your original constructor call of `d = dcrf.DenseCRF2D(predictions.shape[1], predictions.shape[0], 3)` was correct, it seems.

[2018-03-29 14:02] ChaitanyaKolluru1 commented on #58
I made the fixes you’ve mentioned and it works perfectly now. Thank you.

[2018-03-31 13:13] ranok92 opened #59 "addPairwiseBilateral for densecrf2d in densecrf.pyx file"
Hey, I was going through the original cpp code for the addPairwiseBilateral for denseCRF2D and there the array they pass, im, seem to be of the dimension [(w_*h_*3), 1], but in the .pyx file it checks for the size of the im array to be of [w_ , h_ , 3]. Can someone please explain to me this part? Sorry, I am kind of new to this. So, having an issue understanding how the stuff actually works.

Than

[2018-03-31 14:40] lucasb-eyer commented on #59
In C, array's don't have any shape, they are just a contiguous "line" of memory. What is important is that the access to that buffer are consistent on both the NumPy and the C side. In this case, they are, since [the C code is accessing the memory as [(y*W+x)*3+c]](https://github.com/lucasb-eyer/pydensecrf/blob/master/pydensecrf/densecrf/src/densecrf.cpp#L76-L78), which is consistent with the memo

[2018-03-31 14:40] #59 closed

[2018-03-31 15:11] ranok92 commented on #59
Hey, thanks for the reply. Can you please if possible explain to me these 2
notations in the context of the cpp code and why you are using this :

unsigned char[:,:,::1] rgbim in

    def addPairwiseBilateral(self, sxy, srgb, unsigned char[:,:,::1] rgbim
not None, compat, KernelType kernel=DIAG_KERNEL, NormalizationType
normalization=NORMALIZE_SYMMETRIC):

and

rgbim[0,0,0] in

            sxy[0],

[2018-03-31 17:02] lucasb-eyer commented on #59
Both of these are explained in the [Cython User Guide, chapter about Typed Memoryviews](http://cython.readthedocs.io/en/latest/src/userguide/memoryviews.html), you should read that if you're interested.

Briefly, the first one means it's a 3D array that is C-contiguous in layout; if a non-C-contiguous array is passed, it will raise an exception.

The second one, `&rgbim[0,0,0]` (you forgot the `&`

[2018-04-01 12:06] ranok92 commented on #59
Hello,

Thank you so much for your reply. I really appreciate you taking your time
to reply. I will look into the guides.

Thanks,
Abhisek

On Sat, Mar 31, 2018 at 1:02 PM, Lucas Beyer <notifications@github.com>
wrote:

[2018-04-01 13:27] ranok92 opened #60 "issue with installing."
Hey, I tried to install the package. It installed properly. But when I tried to actually use it in python, this is what I am getting. Any idea why? I am using python 2.7. Also, I ran the setup.py file manually : python setup.py build_ext --inplace and I am using windows if that matters.

[code]

Thanks,
Abhisek

[2018-04-01 20:58] lucasb-eyer commented on #60
Why did you decide to run `python setup.py build_ext --inplace` instead of just `pip install .`?

For some reason, it is trying to compile as C, not C++. When googling your error, I found people reporting it when they were using too old setuptools.

I'm afraid I cannot really help you any more as I'm not on Windows, but I'd definitely try installing it with pip.

PS: I edited  your message to form

[2018-04-01 21:12] ranok92 commented on #60
I tried using pip install but the inline function round() in
permutoheadral.cpp was throwing an error. So, I had to comment those lines
and then run the setup. So, do you think I should try to update the
setuptools or something?

On Sun, Apr 1, 2018 at 4:58 PM, Lucas Beyer <notifications@github.com>
wrote:

[2018-04-01 22:49] #44 closed

[2018-04-01 22:49] #60 closed

[2018-04-01 22:54] lucasb-eyer commented on #60
I have fixed the `round` issue as it was already reported in #44, seems to be a windows problem. I have also updated the version on PyPI, so you can try installing the latest version again as `pip install pydensecrf` and see if it works.

If it still doesn't work, you can re-open this issue, although I will not have any new ideas to help you, I'm afraid!

[2018-04-02 02:09] ranok92 commented on #60
Hey, so I tried to install in ubuntu 16.04 used pip, it installed properly,
but when i use the import :

import pydensecrf.densecrf as dcrf

i get this error.

/home/abhisek/.local/lib/python2.7/site-packages/pydensecrf/densecrf.so:
undefined symbol: PyFPE_jbuf

Any clue??

On Sun, Apr 1, 2018 at 6:54 PM, Lucas Beyer <notifications@github.com>
wrote:

[2018-04-02 13:06] ranok92 commented on #60
Hey, I restarted my computer and tried again it seem to work now. Strange.

On Sun, Apr 1, 2018 at 10:09 PM, Abhisek Konar <konarabhisek@gmail.com>
wrote:

[2018-04-02 14:16] ranok92 commented on #60
Also, I was wondering if this has provisions to be extended to a 3D CRF?

On Mon, Apr 2, 2018 at 9:06 AM, Abhisek Konar <konarabhisek@gmail.com>
wrote:

[2018-04-02 14:37] ranok92 commented on #60
Sorry. My bad. I will keep that in mind in future. Thanks for the info
though. (Y)

On Mon, Apr 2, 2018 at 10:22 AM, Lucas Beyer <notifications@github.com>
wrote:

[2018-04-08 15:28] IssamLaradji commented on #45
what does `compat` refer to in the formula ? is it `w` ?

[2018-04-11 13:22] anilbatra2185 opened #61 "Unable to Import in conda environment, throws undefined symbol "PyFPE_jbuf" pydensecrf/densecrf.so. How to resolve?"
I installed the library using pip and it was installed successfully. It works fine in root conda, but when I tried to access in one of conda environment it throws the following error:

/.local/lib/python2.7/site-packages/pydensecrf/densecrf.so: undefined symbol: PyFPE_jbuf

While initial search on google it ask for some conflict in numpy. I tried uninstalling and installing using pip but still the

[2018-04-11 16:33] lucasb-eyer commented on #61
Hmmm, I don't really use conda, but [this user here](https://github.com/lucasb-eyer/pydensecrf/issues/60#issuecomment-377837232) had the exact same error and later replied that after restarting it worked. Can you try that?

Furthermore, I found [this](https://github.com/scikit-learn/scikit-learn/issues/7542#issuecomment-250908129) and [the answers to this SO question](https://stackoverflow.com/q/3

[2018-04-18 14:33] arnaudDup opened #62 "Problem installation windows"
Hi, recently i tried to reinstall the librairy on a Windows computer and got the following error:

"  LINK : error LNK2001: unresolved external symbol PyInit_pydensecrf/eigen
    build\temp.win-amd64-3.6\Release\pydensecrf\eigen.cp36-win_amd64.lib : fatal error LNK1120: 1 unresolved externals
    error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\BIN\\x86_amd64\\link.exe' f

[2018-04-22 23:53] ngoyal2707 opened #63 "Always getting image with zero MAP after inference"
I am using the library to post process road segmentation, which is just pixel-level binary classification problem, to classify each pixel as 'road' or 'no road'.

My code looks as following:

[code]

I always get `res` to be matrix of `0.0` . I have tried following things:
1) Change it to use `2` channels with probability of foreground and background.
2) Changing `sdims` params.
3) Running inferen

[2018-04-23 14:31] lucasb-eyer commented on #63
Thanks, I'm still in the middle of a cross-country move, so it might take a little until I can have a look, but the full code and images will help a lot in helping you here :smile:

[2018-04-23 14:33] lucasb-eyer commented on #62
Hi,

I'm afraid I can't help here, as I don't have a windows dev machine anymore. There are a few windows-related issues: #61, #47, #36, so there seems to be some problem. I'm happy to accepte PRs fixing this, but can't look into it myself, unfortunately.

[2018-04-23 14:35] lucasb-eyer commented on #62
(Maybe the Cython version is relevant here too, did you try updating to the newest Cython?)

[2018-04-23 14:38] lucasb-eyer commented on #45
@IssamLaradji from the readme:

which is what they are called in the paper too. They are not visible in the formula screen-shotted by @Toz3wm.

[2018-04-27 02:30] micklexqg opened #64 "pip install error under windows"
i try to install  pydensecrf under windows , but failed:
![image](https://user-images.githubusercontent.com/13776012/39341424-b556d26a-4a05-11e8-9a80-65034b53194f.png)
python version = 3.5.2
windows 7 and 64 bit
has anyone succeed?

[2018-05-09 23:43] eliesl opened #65 "Inference Function"
when the sum of unary and pairwise potentials are built (called as energy), how does inference function solve this energy? what is the method  for the segmentation?

[2018-05-26 05:25] mokii opened #66 "ValueError: ndarray is not C-contiguous"
error: File "stringsource", line 345, in View.MemoryView.memoryview.__cinit__ (pydensecrf/densecrf.cpp:7881)
ValueError: ndarray is not C-contiguous
I use the 2D softmax_to_unary, but get the above error, what is the problem?

[2018-05-26 10:59] reynoldscem commented on #66
Use `numpy.ascontiguousarray`

[2018-05-26 13:44] lucasb-eyer commented on #66
Thanks @reynoldscem, that is correct.

[2018-05-26 13:44] #66 closed

[2018-05-26 13:46] lucasb-eyer commented on #65
Uhm, that's like half or more of Philip's paper, how to perform inference efficiently. You will find your answer there.

[2018-05-26 13:46] #65 closed

[2018-05-26 13:50] lucasb-eyer commented on #64
How about doing exactly what the last line tells you to do?

If you already did that, then google for this exact error and you will find quite a few trouble-shootings.

I'm closing this as so far it seems to be a problem with your system setup, not a problem with PyDenseCRF. If it turns out otherwise, please feel free to re-open the issue with more information.

[2018-05-26 13:50] #64 closed

[2018-05-31 10:52] n3011 opened #67 "AttributeError: module 'pydensecrf.densecrf' has no attribute 'DIAG_KERNEL'"
There's an error with this new version [installation either using `pypy`/`pip install + git...`]

[2018-05-31 16:19] lucasb-eyer commented on #67
I cannot reproduce this. What I did:

[code]

So either your setup somehow screwed-up, or you are missing some crucial information in this bugreport.

[2018-06-01 18:34] n3011 commented on #67
Everything works perfectly fine if I install the package from this/earliar commit `1cba07bb4950134f5add4b19795d40f8fa4eb5ba`

[2018-06-02 05:51] lucasb-eyer commented on #67
OK, so now I also did:

[code]

so that works too. Both options you say fail in your original post work for me. Your clarification only says where it worked, so doesn't help me reproduce either. So I still can't reproduce your problem. Maybe you can do a binary search for the commit which breaks it? Did you install a recent Cython first?

[2018-06-05 04:09] mshmoon opened #68 "What is the meaning of the parameters:sxy srgb compat"
I do not understand the meaning of these parameters :sxy srgb compat,

[2018-06-05 06:22] lucasb-eyer commented on #68
Duplicate of #45. It is described in the README to which symbols in the paper they correspond, and the paper itself describes their meaning in the whole method.

[2018-06-05 06:22] #68 closed

[2018-06-26 11:54] resonance20 opened #69 "Windows Visual Studio error with Eigen"
I get the following error with python 3.6.4 on windows 10 while using `pip install`:

[code]

[2018-06-26 13:38] lucasb-eyer commented on #36
Going to close this as it's about a 5 year-old version. If anyone has a PR for this, it's still welcome.

[2018-06-26 13:38] #36 closed

[2018-06-26 13:40] lucasb-eyer commented on #69
We regularly get reports about difficulties on Windows. I personally can't help unfortunately, as I don't have access to windows anymore, but any PRs are welcome.

[2018-06-26 13:57] resonance20 commented on #69
Do you use a custom version of the eigen library here or is it a standard release? If standard, which version?

[2018-06-27 06:55] aaronjie commented on #62
I find this problem was solved after Cython installed ;)

[2018-06-27 11:30] resonance20 commented on #69
Okay I found that using `conda` to install this library worked. Go figure.

[2018-06-27 11:30] #69 closed

[2018-06-27 11:54] lucasb-eyer commented on #69
Thank you for getting back, I have added a note to the README.

[2018-06-27 11:55] lucasb-eyer commented on #62
Thank you for getting back to this, I have added a note to the README.

[2018-06-27 11:55] #62 closed

[2018-07-03 21:08] danhamill commented on #61
I am having a similar problem in anaconda environment using Ubuntu 18.04.  Steps to recreate the envronment using conda 4.3.30:

[code]
I have tried installing from pypi, git, and conda-forge.  All methods appear to have installed correctly and yield the same result.  When I 'ls' see what got installed in the directory `/libs/python3.5/site-packages/pydensecrf`, I see:

[code]
When I open a python

[2018-07-09 20:23] lucasb-eyer commented on #61
@danhamill are you sure your problem is the same as the OP? It sounds different to me; if it is not the same, please open a separate issue.

Nevertheless, thanks for the very detailed info. I don't currently have conda on my machine anymore and am quite busy with other things, so not sure when I can find time to investigate this myself. Pull-requests welcome if anybody figures this out!

Does [ins

[2018-07-10 13:34] hertzane opened #70 "error: [WinError 2], Windows10, Python 3.6.2, installing issues."
Hello,

I can not install pydensecrf in windows10, Python 3.6.2, and i do not konw how to fix it?
Problems show as a follow:
best regard!

Huang

[code]

[2018-07-15 02:28] liangfengjiao opened #71 "module ‘pydenecrf.densecrf’ has no attribute 'DenseCRF2D'"
densecrf file was coded by C++, why can not call 'DenseCRF2D'

[2018-07-15 10:50] lucasb-eyer commented on #71
Hi, it is likely you did not properly install the package. There is no way for me to help you given that you do not give any information.

I'm closing the issue, but feel free to re-open it **with exact steps required to reproduce the problem**.

[2018-07-15 10:50] #71 closed

[2018-07-15 10:54] lucasb-eyer commented on #70
Hi, I believe this is a duplicate of #47, so I'm closing this one in order to keep a single issue for this problem.

Unfortunately, I currently do not have access to a windows development machine, so I cannot help. The error message is "系统找不到指定的文件" and means "The system can not find the file specified", correct? What file is it about? I don't understand the error here.

[2018-07-15 10:54] #70 closed

[2018-07-15 10:56] lucasb-eyer commented on #70
Maybe just a guess: did you install a recent version of Cython? Did you check [both options linked here in the README](https://github.com/lucasb-eyer/pydensecrf#problems-on-windowsvs)?

[2018-07-15 12:16] liangfengjiao commented on #71
Thanks very much，I have solved this problem.

在2018-07-15 18:50:37，梁凤娇16120383@bjtu.edu.cn写道：

Closed #71.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-07-15 16:02] lucasb-eyer commented on #71
Could you please tell me what step solved it for you?

[2018-07-31 19:09] dhawan98 commented on #17
hey! if any of you have coded or found the above code. can you point me towards it, or send me the code. I need to run the training process on a set of images and predict on some other image.

[2018-08-07 18:16] matheuscass opened #72 "conda install error"
I tried to install using conda and I got the gollowing error:
conda install git+https://github.com/lucasb-eyer/pydensecrf.git
Fetching package metadata ...............

PackageNotFoundError: Packages missing in current channels:

  - git+https://github.com/lucasb-eyer/pydensecrf.git

We have searched for the packages in the following channels:

  - https://conda.anaconda.org/conda-forge/win-64
  -

[2018-08-09 12:44] bionick87 commented on #34
Hey lucas,

I had the same bugs:

  File "pydensecrf/densecrf.pyx", line 82, in pydensecrf.densecrf.DenseCRF.setUnaryEnergy
ValueError: Bad shape for unary energy (Need (1, 268800), got (2, 16129))****

[2018-08-09 12:46] bionick87 opened #73 "Bad shape for unary energy"
Hi,

I had the following bug:

  File "pydensecrf/densecrf.pyx", line 82, in pydensecrf.densecrf.DenseCRF.setUnaryEnergy
ValueError: Bad shape for unary energy Need (1, 268800), got (2, 268800))

Size of input image is 420x640, whit 2 lables

I have installed the version of the github repository.

Thanks.

[2018-08-09 15:11] #73 closed

[2018-08-09 15:12] bionick87 commented on #73
solved!

[2018-08-11 10:27] ximua00 commented on #63
I am having the same issue… any updates?

[2018-08-22 11:21] manishh opened #74 "How to specify Unary and Pairwise functions in dense CRF? [Help Wanted]"
#I am exploring pydensecrf for image de-noising. Initially, I am trying to figure out how to add Unary and Pairwise terms of the energy function in pydensecrf code. How do I do this? Any pointers would be highly appreciated.

[2018-08-29 12:16] manishh commented on #71
I am also facing this when I am simply trying to run this simple 3-line sample code -

[code]
Any pointers how to get this running? README instructions are not helpful.

[2018-08-29 12:38] manishh opened #75 "AttributeError: 'module' object has no attribute 'DenseCRF2D'"
I am facing this issue when I am simply trying to run this simple 3-line sample code -

[code]

Error - `AttributeError: 'module' object has no attribute 'DenseCRF2D'`

Any pointers how to get this running? README instructions are not helpful.

[2018-09-01 16:46] cliff007 opened #76 "how to determine sxy srgb etc. parameters in pydensecrf"
Hi all,
I am not good at math, can you guys tell me how to set up a reasonable value of sxy srgb according to my own input image? Thanks!

# This adds the color-independent term, **features are the locations only.**
d.addPairwiseGaussian(**sxy=(3,3), compat=3**, ……

# This adds the color-dependent term, i.e. **features are (x,y,r,g,b)**.
d.addPairwiseBilateral(**sxy=(80,80), srgb=(13,13,13)**, rgb

[2018-09-02 10:15] cliff007 commented on #76
I mean when to change the default setting of these parameters?
I saw some setting is as below:

d.addPairwiseGaussian(sxy=20, compat=3)
 d.addPairwiseBilateral(sxy=30, srgb=20, rgbim=img, compat=10)

[2018-09-14 02:36] Tyllis commented on #69
I had the exact same issue on Window 10.
Resolved by running conda install -c conda-forge pydensecrf
https://anaconda.org/conda-forge/pydensecrf

[2018-09-25 13:15] manishh commented on #74
Never mind, figured it out from the examples.

[2018-09-25 13:15] #74 closed

[2018-10-01 21:58] yzaretskiy commented on #69
In case folks don't want to use `conda`, I was able to resolve this particular issue by replacing Eigen with its most recent version (3.3.5 as of today), and then installing with `python setup.py install`.

[2018-10-18 04:56] AneonCode opened #77 "Processing one channel image, but the output always black"
Hi,
  I'm using pydensecrf to process my one channel image, but I can only get the result array full of zero. Can you help me to solve it?
  My code is on the github: https://github.com/AneonCode/CRFTest

[2018-10-19 14:13] AneonCode commented on #77
solved

[2018-10-19 14:13] #77 closed

[2018-10-28 15:29] lucasb-eyer commented on #77
Hi there,

I'm glad you solved it, but it is always nice to write down how you solved it/what was your mistake. That's because in the future people with the same mistake might find your post and it would help them :)

[2018-11-13 11:17] aimhabo commented on #72
git clone https://github.com/lucasb-eyer/pydensecrf
cd pydensecrf
source activate xxx
python setup.py install

[2018-11-14 02:15] juneoh opened #78 "Installation by pip fails in Python 3.7"
Thanks for the wonderful work.

Although this issue is not critical for me, for those whom it may concern I just wanted to share that `pip install pydensecrf` fails on Ubuntu 18.04 with Python 3.7 with `error: command 'gcc' failed with exit status 1`.

Temporary solution: use Python 3.6. Works like a charm.

[2018-11-16 03:52] xtudbxk commented on #78
I just install with command `pip install git+https://github.com/lucasb-eyer/pydensecrf.git`, it works also.

[2018-11-16 09:11] stefan-it commented on #78
Latest version (4d5343c398d75d7ebae34f51a47769084ba3a613) from `master` fails with:

[code]

[2018-11-20 13:04] wEEang763162 opened #79 "How to use pydensecrf in depth prediction?"

[2018-12-06 14:32] duan147 commented on #75
Hello, I'd like to ask you how you solved this problem. Can you give me a reply if it's convenient?thank you @manishh

[2018-12-13 08:41] minar09 opened #80 "installation fails in python 3.5.6 in windows"
Both installing method, pip and python setup.py install failed.

[2018-12-18 15:07] minar09 commented on #80
I had to copy the inner pydensecrf folder inside my project directory, to make use of the package.

[2018-12-20 13:40] aalennku opened #81 "Hi, do the Non-RGB cases mentioned in the manual cover more than 3-channel cases?"
Hi, thanks for such a detailed beginner's guide and manual.

I am confused on the Non-RGB cases, as the instance is presented on Greyscale images. Recently, I m using this wonderful package on an image has more than 3-channels. However, the CPP codes seem to indicate they are designed for RGB images, before the Python wrapping.  For example, the codes in

[code]

It will be great if anyone could h

[2019-01-07 07:04] minar09 commented on #80
Finally got a solution using conda.
`conda install -c conda-forge pydensecrf`
https://github.com/lucasb-eyer/pydensecrf/issues/69#issuecomment-421212221

[2019-01-07 07:05] #80 closed

[2019-01-07 07:08] minar09 commented on #47
#80

[2019-01-14 08:49] Work-jk-l commented on #63
@lucasb-eyer
  My Project is based deeplab v3+ to classify 2 labels，after the process in deeplab v3+,the edges in the prediction image looks bad. And I need the accurate edges . After i run the inference.py in expamples. The final result color is not just 2 labels.because the final images color ivaries between [1,1,1] and [foreground color], I am curious that shout it just be 2 colors in the final

[2019-01-21 09:00] Valentine233 opened #82 "Several unary energy items"
Thanks for your work!

I would like to know why it is not possible to have several unary energy items? What if I want to insert different kind of unary energies. I am looking for a function like "addUnaryEnergy"...

[2019-01-24 18:00] HughRunyan opened #83 "Can't find addPairwiseEnergy"
Fresh install, trying to follow readme for generic non-2D, get ```AttributeError: module 'pydensecrf.densecrf' has no attribute 'addPairwiseEnergy'```

[2019-01-29 08:43] sareldu commented on #78
Trying to install last version (4d5343c) on macOS Mojave version 10.14.1, Xcode Version 10.1.
getting error:

[code]

[2019-01-29 08:45] sareldu opened #84 "pip install fails under macOS Mojave"
Trying to install last version (4d5343c) on macOS Mojave version 10.14.1, Xcode Version 10.1. python 3.7
getting error:

[code]

[2019-02-08 17:09] braddengross commented on #84
Try the conda forge installation: conda install -c conda-forge pydensecrf

[2019-03-18 04:18] XCfor opened #85 "klDivergence"
I am a beginner, I am sorry to bother you that the kl-Divergence I had got is a negative number， and I do not know why, is it normal? By the way ,the seg  result is quite good

Q , tmp1, tmp2 = d.startInference()
    for i in range(10):
        print("KL-divergence at {}: {}".format(i, d.klDivergence(Q)))
        d.stepInference(Q, tmp1, tmp2)

KL-divergence at 0: -3206945.04475
KL-divergence at 1

[2019-03-21 01:57] laitaihu commented on #85
hello, this is your full codes?

[2019-03-25 07:44] Deeperss commented on #73
How can you solved the problem? I get the same issue. Can you tell me ,Thanks.

[2019-03-27 14:57] sareldu commented on #84
worked! thanks!

[2019-03-28 16:34] mickeystroller opened #86 "How to explicitly Indicate a kernal"
Hi @lucasb-eyer,

Thanks for this great code. I am wondering how can I explicitly specify a kernal. In the readme file, you say there are three possible values for the kernel argument (i.e., CONST_KERNEL, DIAG_KERNEL (the default), and FULL_KERNEL) which specifies the kernel's precision-matrix Λ(m). Suppose I can precompute a Λ(m) and want to pass it when I call the addPairwiseEnergy() function, i

[2019-04-07 06:43] awp4211 opened #87 "install faild"
ValueError: Does not understand character buffer dtype format string ('e')

    d.setUnaryEnergy(U)
  File "pydensecrf/densecrf.pyx", line 80, in pydensecrf.densecrf.DenseCRF.setUnaryEnergy
ValueError: Does not understand character buffer dtype format string ('e')

OS VERSION: UBUNTU 1604 PYTHON2.7

[2019-05-06 07:01] assafge commented on #84
failed at my machine:
$ sudo conda install -c conda-forge pydensecrf
...
...
The following packages will be DOWNGRADED:

  python                                   3.7.3-h359304d_0 --> 3.6.8-haf84260_0

Proceed ([y]/n)? y

Preparing transaction: done
Verifying transaction: done
Executing transaction: failed
ERROR conda.core.link:_execute(568): An error occurred while uninstalling package 'defaults

[2019-05-10 13:26] tansyl commented on #69
Hi @lucasb-eyer , after looking through all the related threads, updating Eigen library to a newer version solved my case (I used 3.3.5). would you please update the package included or add a note to the README? I feel that it might eliminate the remaining windows installation issues.

[2019-05-15 02:16] ryo12882 opened #88 "How to use compatibility parameters?"
Hi everyone,

I'm using this repo for my project. Thank you for your effort!.
And now, I'm struggling with understanding 'compat' argument. I also have read the paper, so I think I'm sure why compat argument exists. But I don't know how to set value to it.

For example from the paper,
If 'sky' label is 0, 'cat' label is 1, 'bird' label is 2 and other is 3, how do I set this restriction to 'compat'

[2019-06-02 20:19] ezrabest opened #89 "Installing on win10 64bit python3.7"
I have tried all solutions suggested in other issues, but the installation failed,  with pip and with .git commands. I'm running on win10 64bit python 3.7 all installation tools were updated.
the error message:
`(base) C:\Users\Ezra>pip install git+https://github.com/lucasb-eyer/pydensecrf.git
Collecting git+https://github.com/lucasb-eyer/pydensecrf.git
  Cloning https://github.com/lucasb-eyer/pyd

[2019-06-12 02:06] tuiqdymy opened #90 "Parameter initialization"
Hi. I am curious that since the learning step is not wrapped, where do the parameters of densecrf come from? Are the parameters hard-coded?
Thank you in advance.

[2019-06-27 08:21] kimisecond commented on #89
[https://www.lfd.uci.edu/~gohlke/pythonlibs/#pydensecrf](url)
Using a whl prebuilt by LFD, UCI seemed to solve this issue.

However, installation in linux (e.g Ubuntu) still encounters a similar problem (using gcc).

[2019-07-07 19:08] tom-bu opened #91 "Model Complexity"
Hi I am wondering how many parameters does the model have. I am trying to list the end to end complexity for my model, but I can't seem to figure out how many parameters were trained for densecrf.

Thanks

[2019-07-12 10:59] mohhao opened #92 "I got a strange mask?"
my image:
![test](https://user-images.githubusercontent.com/34981481/61123101-1263d580-a4d6-11e9-8a5f-289c0bb61644.jpg)
result:
![mask](https://user-images.githubusercontent.com/34981481/61123422-e09f3e80-a4d6-11e9-84ea-d4ef04193faf.jpg)
I use the code like this:
`
d = dcrf.DenseCRF2D(640, 368, 4)
prediction1 = prediction1.reshape((4, -1))
d.setUnaryEnergy(prediction1.astype(np.float32))
d.addPair

[2019-07-22 17:08] stevenwalton commented on #78
I had this problem and created a PR for it https://github.com/lucasb-eyer/pydensecrf/pull/93

Solution is to install cython.

[2019-07-31 03:07] chasforbeter opened #94 "Installation by pip fails in Python 3.6"

[2019-07-31 03:27] w11m opened #95 "Build the pydensecrf on ARM64"
Hi author, is it possible to build this project on ARM64 architecture
i want to use it on the Jetson Nano

[2019-08-01 17:07] #94 closed

[2019-08-02 07:21] SarthakGupta22 commented on #82
Yes, I am also having the same problem.
I have two different probablity maps for a single image and I want to add two unary potentials corresponding to each of them
How can I do this?

[2019-08-05 08:20] danielbraun89 commented on #47
I have the same issue, with windows 10, python 3.6.7

[2019-08-05 12:23] IdoMa opened #96 "Gaussian potential with nonzero mean"
Hi there, thanks for this fantastic wrapper!
Is there a way to construct a pairwise Gaussian potential with nonzero mean? As in:
p(f_i, f_j) ~ exp(- (mu - |f_i - f_j|) ^2 / (2 * sigma^2))
Thanks!

[2019-09-08 19:29] Geomaan commented on #69
Thanks @Tyllis this solved my problem as well.

[2019-09-12 02:01] EzioA commented on #84
Thanks! This works for me!

[2019-09-29 10:57] wangleihitcs commented on #78
`pip install cython`
`pip install git+https://github.com/lucasb-eyer/pydensecrf.git`

it works for me also, gcc: error: pydensecrf/eigen.cpp: No such file or directory, my GCC version is 5.4.

[2019-10-09 13:44] louisabraham opened #97 "Is the scale of the compat parameters important?"
If I multiply all compat parameters with the same factor, does it change anything in the result?

[2019-10-09 21:51] louisabraham commented on #55
I'm asking a related question at #97: is the scaling important when you have more than one energy?

For example, if you have `compat=3` and `compat=10`, is it the same as `compat=6` and `compat=20`?

[2019-10-09 22:37] louisabraham commented on #97
Numerical experiments showed me that yes, multiplying all the compat params by the same factor changes the result.

[2019-10-09 22:37] #97 closed

[2019-10-22 10:08] Branikas commented on #78
It doesn't work for me either guys, with Windows 10..
It produces a big error file

[2019-11-12 10:12] f0k opened #98 "Segmentation faults for small `srgb`"
First of all, thanks a lot for packaging this!

I've noticed some interesting errors when creating a pairwise potential with very small stddev for the feature comparison. Minimal example:
[code]

When passing a small scale parameter (1e-8 and smaller), I can provoke different crashes:
[code]
The error message is not completely deterministic.

Relevant part of the backtrace for one of those:
[code]

[2019-11-14 16:26] smaamehm commented on #73
please share the solution

[2019-11-18 13:39] DeriZSY opened #99 "Unable to build under python3.7"
Running `pip install pydensecrf` under python3.7 produces the following information:

    pydensecrf/eigen.cpp:17032:21: error: no member named 'exc_type' in '_ts'
        *type = tstate->exc_type;
[code]

[2019-11-26 13:39] pratik-segmind opened #100 "Bad shape for unary energy (Need (2, 1053979828), got (39677, 26564))"
My Code:

def mask_smoothen(img, mask, nclasses):

	mask = mask.astype(np.float32) #mask.astype(np.uint8)
	image = img
	height, width, channels = image.shape

	d = dcrf.DenseCRF2D(height, width, nclasses)

	labels = mask.T

	U = unary_from_softmax(labels)
	U = np.ascontiguousarray(U)
	print(U.dtype, U.shape)

	d.setUnaryEnergy(U)

	d.addPairwiseBilateral(sxy=80, srgb=13, rgbim=image, compat=10)

[2019-12-15 06:38] joehoeller commented on #69
Conda install fails ->

[code]

[2019-12-18 09:52] raphaelvorias commented on #78
Solved it by running:
`sudo apt-get install python3-dev`

[2019-12-28 00:03] SamChuah opened #101 "Extract the filters"
Hi, is it possible to extract the filters weights `k(f_i, f_j)` before the inference?

Thank youu

[2019-12-31 02:01] Jayuda commented on #78
Thanks this work like a charm

[2020-01-28 12:09] ecamaj commented on #99
Same here with DAWG package.

[2020-03-12 11:21] Junaid199f commented on #73
Could you please share the solution as i also got this error

[2020-04-06 19:26] RohanChacko opened #102 "Custom label compatibility function"
I would like to create a custom compat (LabelCompatibility) function i.e. a Truncated Linear function. How would I go about this? What files would I have to modify?

[2020-04-07 22:21] andres-fr commented on #100
The readme says that you need to flatten it to the shape `(NUM_CLASSES, H*W)`. Hope that helps!

[2020-05-07 02:55] sara-eb commented on #90
@tuiqdymy I have the same question, could you find the answer?
How to initialize the parameters? How the parameters can be learned?

[2020-05-15 11:59] Romulan12 commented on #71
After installing with: !pip install pydensecrf
Try:
import pydensecrf.densecrf
from pydensecrf.densecrf import DenseCRF2D

[2020-06-18 17:56] dbuscombe-usgs commented on #85
I also get negative KL-divergence, with every pair of image and unary potentials I test with. It isn't normal (it should be positive), but I don't know how to fix the (presumably erroneous) code, in which I assume the variable `MatrixXf` is negative?

https://github.com/lucasb-eyer/pydensecrf/blob/4d5343c398d75d7ebae34f51a47769084ba3a613/pydensecrf/densecrf/src/densecrf.cpp#L214

[2020-06-30 06:10] 92xianshen commented on #81
Hi, I have no idea if it is helpful but you can have a look at my repo of a python-implemented Dense CRF.

https://github.com/92xianshen/PyDCRF

You can revise the `_compute_bilateral_kernel` in `high_dim_filter.py` to fit the Non-RGB case.

[2020-07-26 19:02] captaindavepdx commented on #89
In addition to @kimisecond's solution, to install "whl" file:

pip install pydensecrf-1.0rc2-cp37-cp37m-win_amd64.whl

*Change the file name to whichever one you need.

[2020-09-19 14:00] tamireiny commented on #89
@thealtruist Can you please give a direct link to pydensecrf-1.0rc2-cp37-cp37m-win_amd64.whl? I could not find it

[2020-09-19 14:54] thealtruist commented on #89
@tamireiny The link is provided in @kimisecond 's answer. You'll need to copy and paste it into the web browser. And make sure to download the version that matches your Python version and Windows system type. For example, `pydensecrf-1.0rc2-cp37-cp37m-win_amd64.whl` refers to Python3.7 and Windows 64-bit.

[2020-09-19 15:25] tamireiny commented on #89
@thealtruist I have managed to download the file now, but when I run:
pip install pydensecrf-1.0rc2-cp37-cp37m-win_amd64.whl, I get:
ERROR: pydensecrf-1.0rc2-cp37-cp37m-win_amd64.whl is not a supported wheel on this platform.
I have python 3.7, windows 10 64 bit. Any idea how to solve?

[2020-09-19 15:31] thealtruist commented on #89
@tamireiny  Can you verify the Python version? `python --version`

[2020-09-19 15:31] tamireiny commented on #89
@thealtruist I run python --version
Python 3.7.6

[2020-09-19 15:37] thealtruist commented on #89
@tamireiny Can you also verify the system type?

1. Press “⊞ Windows”
2. Enter "About"
3. Click "About Your PC"
4. Find "System Type"

[2020-09-19 15:42] tamireiny commented on #89
@thealtruist
![image](https://user-images.githubusercontent.com/37779442/93670977-de0b8200-faa7-11ea-85ca-6a712f21cdb5.png)

[2020-09-19 15:45] thealtruist commented on #89
@tamireiny Could you also check your pip version? `pip --version`

[2020-09-19 15:47] tamireiny commented on #89
@thealtruist , sure:
pip --version
pip 20.0.2 from c:\users\tamir\appdata\local\programs\python\python36\lib\site-packages\pip (python 3.6)

[2020-09-19 15:50] thealtruist commented on #89
@tamireiny It looks like your pip is connected to Python 3.6 and your interpreter is connected to Python 3.7

[2020-09-19 15:59] tamireiny commented on #89
@thealtruist You are right, thanks. I used now the pip the is related to python 3.7
Then I try: import pydensecrf.densecrf as dcrf
I get:
Traceback (most recent call last):
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 967, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 677, in _load_unlocked
  File "<froze

[2020-09-19 16:10] thealtruist commented on #89
@tamireiny Were you able to successfully install pydensecrf using the pip that's related to Python 3.7?

[2020-09-19 16:12] tamireiny commented on #89
@thealtruist Yes, when I try to install again I get:
pip install pydensecrf-1.0rc2-cp37-cp37m-win_amd64.whl
WARNING: pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available.
Requirement already satisfied: pydensecrf==1.0rc2 from file:///C:/Users/Tamir/anaconda3/Scripts/pydensecrf-1.0rc2-cp37-cp37m-win_amd64.whl in c:\users\tamir\anaconda3\lib\site-p

[2020-09-19 16:20] thealtruist commented on #89
@tamireiny Previously, have you set the Anaconda path in your Windows PATH Environment Variables?

[2020-09-19 16:22] tamireiny commented on #89
@thealtruist Yes
![image](https://user-images.githubusercontent.com/37779442/93671651-6d676400-faad-11ea-8175-3192b26945cf.png)

[2020-09-19 16:22] thealtruist commented on #89
@tamireiny I don't use Anaconda but it seems strange that the error is trying to locate modules in Anaconda when you installed pydensecrf using pip.

[2020-09-19 16:25] tamireiny commented on #89
@thealtruist I didn't understand your last comment, the error is:
import pydensecrf.densecrf as dcrf
ImportError: DLL load failed: The specified module could not be found.

Why do you think it's trying to locate modules using Anaocnda?

[2020-09-19 16:26] thealtruist commented on #89
@tamireiny That was a mistake. I was referring to it referencing the location of the site package.

Requirement already satisfied: pydensecrf==1.0rc2 from file:///C:/Users/Tamir/anaconda3/Scripts/pydensecrf-1.0rc2-cp37-cp37m-win_amd64.whl in c:\users\tamir\anaconda3\lib\site-packages (1.0rc2)

[2020-09-19 16:29] thealtruist commented on #89
@tamireiny But apparently that's a normal thing so I'm not sure what's causing the error.

[2020-09-27 08:03] tamireiny commented on #89
@thealtruist Here in this folder path: C:\Users\Tamir\anaconda3\Scripts>
1. activate
2. conda install -c conda-forge pydensecrf
The result is:
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collec

[2020-09-27 08:21] tamireiny commented on #89
@thealtruist This worked for me:
pip install pydensecrf-1.0rc2-cp37-cp37m-win_amd64.whl --no-deps

[2020-09-28 20:36] thealtruist commented on #89
@tamireiny Nice, glad you figured it out!

[2020-09-29 13:45] hitman996 commented on #61
For someone who is facing a similar issue, it is due to the conflict between conda installation and pip installation of the same module. I installed a pydensecrf within conda
`conda install -c conda-forge pydensecrf`
within my conda virtual environment. But there was another pip installation also existing on the system.  The conda environment was pointing to the pip installation, hence the error.

[2020-10-21 12:06] ruchika61 commented on #49
Hi
kindly help i am also facing the same problem

  File "C:/Users/dell/Desktop/Semantic-Shapes-master/singleimage.py", line 88, in <module>
    roi_mask = crf(roi_pred.squeeze(), roi)

  File "C:\Users\dell\Desktop\Semantic-Shapes-master\utils.py", line 106, in crf
    normalization=dcrf.NORMALIZE_SYMMETRIC)

  File "pydensecrf\densecrf.pyx", line 126, in pydensecrf.densecrf.DenseCRF2D.addPairwis

[2020-10-30 07:12] aa3396896 opened #104 "could anyone give me some advise?"
- #75
still the problem
however,no one give the way to solve it
i use a new environment with
py 3.5
cython 0.26
pydensecrf 1.0rc3

in the code, it can show the fucnction
dcrf.DenseCRF def __init__(self,
             *args: Any,
             **kwargs: Any) -> None
The most base type
Documentation is copied from:
object
  < Python 3.5 (py35) >

but turn to run it will be
AttributeError: module 'pyde

[2020-10-30 07:40] aa3396896 commented on #104
ok,i think i solve it,so silly noob as i

[2020-11-02 00:38] #104 closed

[2020-11-03 11:36] Edward334 commented on #92
Did you ever figure it out?

[2020-11-06 02:15] aa3396896 commented on #76
hi,lucas,could u tell me the mean of the "lbp.progress" in your example? @lucasb-eyer

[2020-11-09 12:00] aa3396896 commented on #100
resize you pic maybe

[2020-11-25 02:02] ShihuaiXu commented on #104
哥 请问您是怎么解决的 我也遇到了一样的问题

[2020-11-26 09:40] huixiancheng commented on #104
我当时的错误好像是import路径有问题，我把下载下的包中的pydensecrf文件删掉就行了，希望有参考。

[2020-11-27 01:24] ShihuaiXu commented on #104
谢谢

[2020-12-18 21:16] jdonovanCS opened #105 "Inference runs much slower in python 2.7 than 3.6"
I am currently running the same python code doing inference in two different python versions with very different efficiencies. First I run it in python 2.7, which is the target version of this code. Second, I run it in python 3.6. I use timeit to get the performance time. It takes 10 times as long to compute the inference in python 2.7 as it does in python 3.6. I'm wondering why that might be.

I

[2020-12-18 21:57] jdonovanCS commented on #105
`import numpy as np
import timeit
import cv2
import pydensecrf.densecrf as dcrf
import pydensecrf.utils as utils

def densecrf_inference(predictions, image_location, input_image=None):
    img = input_image
    img = cv2.resize(img, dsize=(predictions.shape[2], predictions.shape[1]), interpolation=cv2.INTER_LANCZOS4)

    d = dcrf.DenseCRF2D(predictions.shape[2], predictions.shape[1], 23)
    U =

[2020-12-18 22:03] jdonovanCS commented on #105
[code]

[2020-12-21 21:00] jdonovanCS commented on #105
Interestingly enough, I don't think that the python versions are the issue. I installed the necessary pip packages and ran the code on another machine (mac OS), and python 2.7 and 3.7 have very similar timings. Whereas this is running on my ubuntu machine and has very different timings. I'm not sure if it has something to do with the setup / install of pydensecrf or some dependency or what. Any id

[2020-12-22 14:25] ZM-J commented on #99
Do you use Windows (Visual C++) to compile C++ programs?
I encountered the same problem just now. Any help is welcome.

[2020-12-23 02:21] tanjia123456 opened #106 "apply densecrf to node classification"
Hello, thank you for your work
I use graph neural network to  parcellation brain, now I want to use densecrf as a postprocess.
I have get the logits(10242,36) the 10242 is node number, 36 is class number. I also have standard label(10242).
So, could you please give me some suggestion about how to add densecrf as postprocess?

[2020-12-26 02:49] DeriZSY commented on #99
No. I make it on ubuntu. I use python3.6 instead of python3.7, then everything is fine

[2021-01-07 12:56] tanjia123456 commented on #83
Hello, I also have met such problem, do you know how to solve it?

[2021-01-14 14:29] #106 closed

[2021-01-14 14:32] tanjia123456 opened #107 "can use DenseCRF2D but can't use DenseCRF"
hello, I use conda install -c conda-forge pydensecrf command to install pydensecrf.
 d = dcrf.DenseCRF(pred_ts.shape[0],pred_ts.shape[1])  # npoints, nlabels
AttributeError: module 'pydensecrf.densecrf' has no attribute 'DenseCRF'
do you know how to solve it?

[2021-01-15 03:14] tanjia123456 commented on #107
by the way, I have solved the error, but the annother error appears: AttributeError: module 'pydensecrf.densecrf' has no attribute 'addPairwiseEnergy'  ,do you know how to solve? I also confused about non-RGB
`
A=np.random.randn(10242,36)
d = dcrf.DenseCRF(A.shape[0], A.shape[1])  # npoints, nlabels

feats = np.array(...)  # Get the pairwise features from somewhere.
print(feats.shape)     # -> (7,

[2021-01-17 02:24] #107 closed

[2021-03-11 14:17] lucasb-eyer commented on #78
Closing thanks to #103 but do reopen if it still does not work.

[2021-03-30 16:41] OllyFawcett commented on #49
Just had the same issue and managed to figure out the problem. So the problem is that the image data is in float32 format or float64 or something like that and you need it in uint8 format. To get to the right format you need something like that

img = np.uint8(255 * img)

Hope this works for you

[2021-04-06 00:25] geometrikal commented on #99
Had same problem installing from PyPI - `pip install pydensecrf`
If I installed with `pip install git+https://github.com/lucasb-eyer/pydensecrf.git` it works fine

[2021-04-11 18:30] mu745511 commented on #89
@david-littlefield  AttributeError: module 'pydensecrf.densecrf' has no attribute 'DenseCRF2D' i get this attribute error

[2021-04-11 21:32] david-littlefield commented on #89
@mu745511 What are the steps that you used to install?

[2021-04-11 21:46] mu745511 commented on #89
import sys
sys.path.append('github master pydensecrf')

[2021-04-11 23:14] david-littlefield commented on #89
@mu745511 It's been a while but I don't think you can just use pip install on this one. I think you need to install the wheel file for your specific Python version, operating system, and system type. You might try installing the wheel file as suggested [here](https://github.com/lucasb-eyer/pydensecrf/issues/89#issuecomment-506245175) and [here](https://github.com/lucasb-eyer/pydensecrf/issues/89#i

[2021-04-12 05:04] ezrabest commented on #89
Thanks to all repliers
Working with Pycharm instead of Anaconda solve the issue

[2021-04-12 05:04] #89 closed

[2021-05-27 21:11] dominhtrieuvhp commented on #70
Step1: download package of pydensecrf compatible with python version from link https://anaconda.org/conda-forge/pydensecrf/files?version=1.0rc2&page=2 Step2: Extract the package and copy two subfolders "pydensecrf and pydensecrf-1.0rc2.dist-info" in folder "Lib" to installed folder of python (Example: C:\Python 3.6\Lib\site-packages)

[2021-07-13 15:20] seyeeet opened #110 "what does unary means ?"
when you said `You can then set a fixed unary potential in the following way`, what does unary means exactly?

[2021-09-09 07:43] hayato18032 opened #111 "Can't install."
I try "pip install git+https://github.com/lucasb-eyer/pydensecrf.git" in terminal but was supented.

error:Building wheel for pydensecrf (PEP 517) ... error

I already installed cython!

What should I do?

[2021-09-20 12:47] b-burton commented on #111
By any chance are you using python 3.7 or newer

I had the exact same problem and fixed it using conda but specifying python 3.6.9
`conda install conda-forge pydensecrf python=3.6.9`

First I would just try ``conda install conda-forge pydensecrf` as a lot of other people said this fixed all the problems for them

(I have to warn changing back to an older version of python was pretty annoying as it

[2021-09-25 11:18] Ruiyi0 opened #112 "Where is the DenseCRF2D?"
I couldn't find it in the content

[2022-01-11 03:39] MiguelAngeloMartinsRibeiro commented on #29
Hi @pianoza and @Thatfreesky I'm trying to use it as a 3D dense CRF as in this paper from the same authors https://www.sciencedirect.com/science/article/pii/S1361841516301839

I want to apply it to 3D RGB images to get a temporal correlation o videos and I'm having troubles cause the 3D version doesn't exist in a python library

I wanna know if that's what you're trying to do as well and if you ca

[2022-01-14 22:48] MiguelAngeloMartinsRibeiro opened #113 "Change one cpp file in the source code and compile [3DVolumes]"
Hi @lucasb-eyer

First of all thank you for your extraordinary work

I want to apply your library but with a small exchange, I wanna change the densecrf.cpp and the densecrf.h to match the ones in the 3D volumetric paper by the same authors. The paper and the GitHub of that paper:

https://arxiv.org/abs/1603.05959
https://github.com/deepmedic/dense3dCrf

The problem is that this repository is only

[2022-01-17 11:30] maximlt opened #114 "New release on PyPi?"
The last release on PyPi - `pydensecrf 1.0rc3` - dates from 2018. Is there a new release planned?

I believe this would help fixing the automatic builds attempted by conda-forge (https://github.com/conda-forge/pydensecrf-feedstock/pulls). conda is a great way to install a library like `pydensecrf` whose install process can be challenging for some users given their skills and the platform they use.

[2022-01-20 19:03] lucasb-eyer commented on #114
Thanks for the ping, if you think that'd be useful, I can try to find some time to make one this week-end!

[2022-01-21 08:17] maximlt commented on #114
I think that would be great! Don't hesitate to ping me whenever this happens, I could then look into updating the recipe on conda-forge and see how that goes.

[2022-02-02 01:30] MiguelAngeloMartinsRibeiro commented on #76
Did you find what lbp.progress means?

[2022-02-10 04:55] victorbug commented on #111
Error:
ERROR: Failed building wheel for pydensecrf
Failed to build pydensecrf
ERROR: Could not build wheels for pydensecrf which use PEP 517 and cannot be installed directly

Fix for me:
apt-get install build-essential
(source: https://stackoverflow.com/questions/35048582/how-to-fix-error-command-x86-64-linux-gnu-gcc-failed-with-exit-status-1)
pip install git+https://github.com/lucasb-eyer/pydense

[2022-02-18 17:05] VilotStar commented on #69
@[salinaaaaaa](https://github.com/salinaaaaaa) did you fix that?

[2022-02-20 13:29] yaatsn3821 opened #115 "terminate called after throwing an instance of 'std::length_error' what(): vector::_M_fill_insert Aborted (core dumped)"
First of all, thanks a lot for packaging this!
I tried this code.
[code]
but, got below error.
[code]
This is probably because img size is very large.Retried with about 10000x10000,it's no error.
But, 30000x30000 size image need to be processed.
Dividing image is the best solution?
Could some one help me?

[2022-04-19 10:29] maximlt commented on #114
Just out of curiosity, is there any news on this topic?

[2022-05-25 08:08] maximlt commented on #114
I think that a solid first step here would be to define what the next version is going to be called, maybe`1.0`, and then update the `setup.py` file accordingly. Tagging that commit would be helpful to, but not required.

One oddity, there are three releases on PyPi: `1.0rc1`, `1.0rc2` and `1.0rc3, while on the repo the version declared in the setup.py file is `1.0rc2`, so not the latest:

https:/

[2022-05-25 14:36] ocefpaf commented on #114
Hi there, just a few comments from the conda-forge side:

1. we can point to a tag/release here in the repo, no need to use PyPI (although that is recommend to increase the reach of your package to all Python users out there);
2. It is relatively easy to automate the PyPI auto-publish when tagging a new release here in the repo, reducing the  load maintenance;
3. we can also tie the package versio

[2022-06-16 12:36] rsignell-usgs commented on #114
Ping @maximlt just to get this back on the radar!  :)
Seems not much is left to do, right?

[2022-06-16 15:27] rsignell-usgs commented on #114
Oops, sorry @maximlt !    It's @lucasb-eyer who can save the day!

[2022-06-18 08:17] anarnold2 opened #117 "Bad shape for unary energy"
Hi,

I got the same issue now but somehow my code worked the day before. Did you do an update on your library?

This is the error, I got.

     25         U = unary_from_softmax(processed_prediction)
     26         U = np.ascontiguousarray(U) # necessary since the library pydensecrf is using a cython wrapper DEBUg
---> 27         dcrf_obj.setUnaryEnergy(U)
     28
     29         #pairwise potent

[2022-06-18 09:08] anarnold2 commented on #117
Ok my bad, I had an issue in my code!

[2022-06-18 18:01] QuanticDisaster opened #118 "Questions on the library"
Hello @lucasb-eyer

I would like to thank you for this quite complete and easy to use implementation of the original paper

I am posting this issue to ask some questions about this library. Has there been advances on the learning part of the library ? I was interested in it and eventually adapting if I manage to get past the cython code which I'm not familiar with

At the moment, I am toying a bit

[2022-06-23 22:59] dbuscombe-usgs commented on #114
@lucasb-eyer apologies for the ping, but it would greatly help our cause if you are able to merge [#116](https://github.com/lucasb-eyer/pydensecrf/pull/116) so @ocefpaf can make a new conda-forge release

We are building a whole family of end-to-end data-model-pipeline tools for to carry image segmentation (user-interactive and automated) including [this](https://github.com/Doodleverse) and [this]

[2022-06-28 00:44] dbuscombe-usgs commented on #114
This request is now 161 days old @lucasb-eyer

[2022-06-28 01:03] dbuscombe-usgs commented on #114
We would be very grateful for your attention

[2022-06-30 16:47] rsignell-usgs commented on #114
@dbuscombe-usgs, @maximlt  and @ocefpaf , perhaps it would be best to fork this project so we can get a new release on conda-forge?

[2022-06-30 17:07] ocefpaf commented on #114
Our options are:

1. make a release with a patch and, if upstream release it later we can drop them (no fork)
2. ask for maintainer rights here, I can manage releases and automate them to reduce the burden on the maintainers
3. hard fork, not ideal and usually causes confusion among users

Note that, while I'm usually against option 3, maybe the number of users here is not that bad and a hard fork

[2022-07-07 18:41] dbuscombe-usgs commented on #114
thanks for laying out those options @ocefpaf

I think a hard fork could work for our purposes - might be the easiest for us to keep track of and maintain - thanks!

[2022-07-08 06:45] maximlt commented on #114
Just to recap the current state (correct me if I'm wrong):

* Latest release of pydensecrf available on PyPi was made on the 2nd of April 2018 with the version number 1.0rc3
* Latest release of pydensecrf available on conda-forge was made in June 2018 with the version number 1.0rc3. As pydensecrf isn't a no-arch package and requires Cython the conda-forge built were at the time covering Python ver

[2022-07-08 13:29] ocefpaf commented on #114
Yes. It makes sense. Avoiding a hard fork is usually the best option. However, it seems that the maintainer here moved on. Ideally we could "get the keys" to this repo and the PyPI namespace. We already asked in https://github.com/lucasb-eyer/pydensecrf/issues/114#issuecomment-1171472415 and did not get any response.

It is not a bad plan but in conda-forge would need a stable release instead of a

[2022-07-08 13:41] ocefpaf commented on #114
@maximlt BTW, I tried to check the changes that happened since the last PyPI release to see if we can make a patch instead. However, b/c there was never a tag here in the repo, we have no idea what commit corresponds to the PyPI release and how many more after it :-/

[2022-07-08 14:26] ocefpaf commented on #114
OK, update... What is holding you up is the lack of pydensecrf on Python >3.6 or a new feature bug fix? B/c the former seems be an easy fix on conda-forge side and I can try to build it for Python 3.7 to 3.10. The latter bring us back to the fork discussion.

[2022-07-08 14:45] maximlt commented on #114
Thanks a lot for looking into that @ocefpaf 🙏

Yes as you said it's not possible for us to know what commit corresponds to the latest PyPi, although given the dates I'd assume it happened right after this commit: https://github.com/lucasb-eyer/pydensecrf/commit/0632813caed930cf505626855bb4c04e09eaf02f

Since there were just a couple of PRs/commits, these two being to me the most useful:
* [Fix Cyt

[2022-07-08 15:24] ocefpaf commented on #114
Thanks! The first one is not necessary for conda-forge b/c already have the concept of build/host dependencies long before pep517/518.

Yep, the second one we will need. See https://github.com/conda-forge/pydensecrf-feedstock/pull/10#issuecomment-1179091714

[2022-07-08 16:25] ocefpaf commented on #114
That is helpful and, together with the info in https://github.com/lucasb-eyer/pydensecrf/issues/114#issuecomment-1179070713, I believe https://github.com/conda-forge/pydensecrf-feedstock/pull/10 will have everything that you need.

The pydensecrf package pre-dates https://github.com/conda-forge/cfep/blob/main/cfep-05.md. I'm just going to pretend I did not see that ;-p

[2022-07-08 17:48] dbuscombe-usgs commented on #114
Thanks @ocefpaf, this looks like it should work! (screenshots from linux and windows) I'll test this weekend

![Screenshot from 2022-07-08 10-41-33](https://user-images.githubusercontent.com/3596509/178043921-b18b72fe-9aaa-420d-bf7d-a14219af83df.png)
![conda-pydensecrf](https://user-images.githubusercontent.com/3596509/178043923-dec14042-b299-4e50-ad79-a9db32e6b015.PNG)

[2022-11-18 10:00] wwcc1107 opened #119 "This error originates from a subprocess, and is likely not a problem with pip"

[2022-11-27 19:29] abundance-io opened #120 "fatal error: Python.h: No such file or #include "Python.h""
running pip install pydensecrf
gives the error

gcc -Wsign-compare -DDYNAMIC_ANNOTATIONS_ENABLED=1 -DNDEBUG -O2 -fexceptions -g -grecord-gcc-switches -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -Wp,-D_GLIBCXX_ASSERTIONS -fstack-protector-strong -m64 -mtune=generic -fasynchronous-unwind-tables -fstack-clash-protection -fcf-protection -D_GNU_SOURCE -fPIC -fwrapv -O2 -fexceptions -g -

[2022-11-30 17:37] jrlindell opened #121 "pip install error RHEL Fedora"
`
(venv) [jlindell@lt-d9x8693 ~]$ pip install pydensecrf
Collecting pydensecrf
  Using cached pydensecrf-1.0rc3.tar.gz (1.0 MB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pydensecrf
  Building wheel for pydensecrf (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfully.
  │ exit code: 1
  ╰─> [14 lin

[2022-11-30 17:39] jrlindell commented on #121
Have tried installing cython, instaling wheels, and all of the other ideas on stackoverflow/Github